.subscribe-section
    .container-fluid
        .row
            .col-lg-6
                h2.section-title Newsletter
                h3.subtitle Join to the elite group of our customers. Be the first to know about new products and promotions.
            // Col
            |
            |
            .col-lg-6
                form(action="#" method="GET" class="subscribe-form")
                    .form-group
                        input(type="text" class="form-control" placeholder="E-mail" autocomplete="off" required)
                    |
                    |
                    button(class="btn-yellow btn-subscribe") Subscribe
            // Col
// Subscribe To Newsletters
|
|