extends ../layout/layout.pug

block content
    section.static-page.about-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Company
                        li
                            a(href="#") About Us
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-12
                    h1.page-title.text-uppercase(data-aos="fade-up" data-aos-duration="700") Who we are
                    |
                    |
                    .page-desc(data-aos="fade-up" data-aos-duration="700" data-aos-delay="100")
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .shop-stats.flex
                        .stat-item.text-center(data-aos="fade-up" data-aos-duration="400")
                            h3.num 40+
                            p.desc World Famous Fashion Brands in one Online Shopping Platform
                        |
                        |
                        .stat-item.text-center(data-aos="fade-up" data-aos-duration="600")
                            h3.num 75%
                            p.desc of Customers choose Us in local market for Online Shopping 
                        |
                        |
                        .stat-item.text-center(data-aos="fade-up" data-aos-duration="800")
                            strong.text-uppercase Over
                            h3.num 10.000
                            p.desc Active Users per month
                        |
                        |
                        .stat-item.text-center(data-aos="fade-up" data-aos-duration="1000")
                            strong.text-uppercase Over
                            h3.num 10.000
                            p.desc AZN Cashback in a month
                    // Statistics
                    |
                    |
                    .text-wrapper(data-aos="fade-in" data-aos-duration="700")
                        h3.block-title.text-uppercase The standard Lorem Ipsum passage, used since
                        p.page-desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"
                        |
                        |
                        .images-wrapper.img-2x
                            ="\n"
                            img(src=require("../../images/bnrs/image0.png"))
                            ="\n"
                            img(src=require("../../images/bnrs/image1.png"))
                    // / 
                    |
                    |
                    .text-wrapper(data-aos="fade-in" data-aos-duration="700")
                        h3.block-title.text-uppercase The standard Lorem Ipsum passage, used since
                        p.page-desc "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum"
                        |
                        |
                        .images-wrapper.img-3x
                            ="\n"
                            img(src=require("../../images/bnrs/image0.png"))
                            ="\n"
                            img(src=require("../../images/bnrs/image1.png"))
                            ="\n"
                            img(src=require("../../images/bnrs/image0.png"))
                    // / 
    // About Page
    |
    |
    include ../includes/subscribe.pug