extends ../layout/layout.pug

block content
    section.account-orders.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Account
                        li
                            a(href="#") My Orders
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-xl-10.offset-xl-1
                    .row
                        .col-md-5.account-sidebar-wrapper
                            .toggle-account-sidebar.visible-767
                            // Toggle Sidebar
                            |
                            |
                            .account-sidebar
                                .white-panel.user-panel
                                    .user-card.flex
                                        .thumb.flex
                                            span.text-uppercase fi
                                        |
                                        |
                                        .name
                                            p Hi,
                                            ="\n"
                                            strong Farid Ismayilov
                                    // User Card
                                // Panel
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="orders.html")
                                            ="\n"
                                            img(src=require("../../images/icons/orders.svg"))
                                            | My Orders
                                            ="\n"
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="user-info.html")
                                            ="\n"
                                            img(src=require("../../images/icons/user.svg"))
                                            | My Details
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="change-password.html")
                                            ="\n"
                                            img(src=require("../../images/icons/lock.svg"))
                                            | Change Password
                                            ="\n"
                                    li.active
                                        ="\n"
                                        a(href="#")
                                            ="\n"
                                            img(src=require("../../images/icons/marker.svg"))
                                            | Address Book
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/faq.svg"))
                                            | Need help?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/back.svg"))
                                            | How do I make a return?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/plastic-card2.svg"))
                                            | Payment & Delivery
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="javascript:void(0)")
                                            ="\n"
                                            img(src=require("../../images/icons/logout.svg"))
                                            | Sign Out
                                            ="\n"
                            // Account Sidebar
                        // Col
                        |
                        |
                        .col-md-7
                            .white-panel.blank
                                .panel-header.flex
                                    h3.panel-title.primary
                                        ="\n"
                                        img(src=require("../../images/icons/orders.svg"))
                                        | My Orders
                                    |
                                    |
                                    p Displaying 2 orders
                            // Panel
                            |
                            |
                            .white-panel.order-panel
                                table.order-details
                                    tr
                                        td Order Status
                                        td
                                            p.order-status.successful Successful
                                    tr
                                        td Order Total
                                        td
                                            p 45.00 AZN
                                    tr
                                        td Order No
                                        td
                                            p 4QTUNIK17T34
                                    tr
                                        td Order Date
                                        td
                                            p Friday, 11 October, 2019
                                    tr
                                        td Delivery Date
                                        td
                                            p Monday, 14 October, 2019
                                |
                                |
                                .divider
                                |
                                |
                                .cart-product.flex
                                    .image
                                        ="\n"
                                        a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                    |
                                    |
                                    .info
                                        .price.flex
                                            .current 99.00 AZN
                                            .old 155 AZN
                                        ="\n"
                                        a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        .product-params.flex
                                            .param Brown
                                            .param M
                                            .param Quantity 1
                                // Cart Product
                                |
                                |
                                .divider
                                |
                                |
                                .cart-product.flex
                                    .image
                                        ="\n"
                                        a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                    |
                                    |
                                    .info
                                        .price.flex
                                            .current 99.00 AZN
                                            .old 155 AZN
                                        ="\n"
                                        a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        .product-params.flex
                                            .param Brown
                                            .param M
                                            .param Quantity 1
                                // Cart Product
                                |
                                |
                                .divider
                                |
                                |
                                .total.flex
                                    p.text-uppercase Total: 45 AZN
                                |
                                |
                                ="\n"
                                a(href="account-order.html" class="btn-default view-order") View order 
                            // Panel (Order)
                            |
                            |
                            .white-panel.order-panel
                                table.order-details
                                    tr
                                        td Order Status
                                        td
                                            p.order-status.unsuccessful Unsuccessful
                                    tr
                                        td Order Total
                                        td
                                            p 45.00 AZN
                                    tr
                                        td Order No
                                        td
                                            p 4QTUNIK17T34
                                    tr
                                        td Order Date
                                        td
                                            p Friday, 11 October, 2019
                                    tr
                                        td Delivery Date
                                        td
                                            p Monday, 14 October, 2019
                                |
                                |
                                .divider
                                |
                                |
                                .cart-product.flex
                                    .image
                                        ="\n"
                                        a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                    |
                                    |
                                    .info
                                        .price.flex
                                            .current 99.00 AZN
                                            .old 155 AZN
                                        ="\n"
                                        a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        .product-params.flex
                                            .param Brown
                                            .param M
                                            .param Quantity 1
                                // Cart Product
                                |
                                |
                                .divider
                                |
                                |
                                .cart-product.flex
                                    .image
                                        ="\n"
                                        a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                    |
                                    |
                                    .info
                                        .price.flex
                                            .current 99.00 AZN
                                            .old 155 AZN
                                        ="\n"
                                        a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        .product-params.flex
                                            .param Brown
                                            .param M
                                            .param Quantity 1
                                // Cart Product
                                |
                                |
                                .divider
                                |
                                |
                                .total.flex
                                    p.text-uppercase Total: 45 AZN
                                |
                                |
                                ="\n"
                                a(href="account-order.html" class="btn-default view-order") View order 
                            // Panel (Order)
                        // Col
                // Col (Wrapper)
    // Orders Page
    |
    |