extends ../layout/layout.pug

block content
    section.account-orders.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Account
                        li
                            a(href="#") Add Address
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-xl-10.offset-xl-1
                    .row
                        .col-md-5.account-sidebar-wrapper
                            .toggle-account-sidebar.visible-767
                            // Toggle Sidebar
                            |
                            |
                            .account-sidebar
                                .white-panel.user-panel
                                    .user-card.flex
                                        .thumb.flex
                                            span.text-uppercase fi
                                        |
                                        |
                                        .name
                                            p Hi,
                                            ="\n"
                                            strong Farid Ismayilov
                                    // User Card
                                // Panel
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="orders.html")
                                            ="\n"
                                            img(src=require("../../images/icons/orders.svg"))
                                            | My Orders
                                            ="\n"
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="user-info.html")
                                            ="\n"
                                            img(src=require("../../images/icons/user.svg"))
                                            | My Details
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="change-password.html")
                                            ="\n"
                                            img(src=require("../../images/icons/lock.svg"))
                                            | Change Password
                                            ="\n"
                                    li.active
                                        ="\n"
                                        a(href="#")
                                            ="\n"
                                            img(src=require("../../images/icons/marker.svg"))
                                            | Address Book
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/faq.svg"))
                                            | Need help?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/back.svg"))
                                            | How do I make a return?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/plastic-card2.svg"))
                                            | Payment & Delivery
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="javascript:void(0)")
                                            ="\n"
                                            img(src=require("../../images/icons/logout.svg"))
                                            | Sign Out
                                            ="\n"
                            // Account Sidebar
                        // Col
                        |
                        |
                        .col-md-7
                            .white-panel.blank
                                h3.panel-title.primary
                                    ="\n"
                                    img(src=require("../../images/icons/marker.svg"))
                                    | Address Book
                            // Panel
                            |
                            |
                            .white-panel.add-address
                                .panel-header
                                    h3.panel-title Add New Address
                                // Panel Header
                                |
                                |
                                .panel-body
                                    p.panel-info-text Please enter an address you would like to save and deliver your items to.
                                    |
                                    |
                                    form(action="#" method="POST")
                                        .form-group
                                            label Mobile
                                            input(type="text" class="form-control is-invalid" value="0702900914" required)
                                            .invalid-feedback Invalid input
                                        |
                                        |
                                        .form-group
                                            label Firstname
                                            input(type="text" class="form-control is-valid" value="Farid" required)
                                            .valid-feedback Valid input
                                        |
                                        |
                                        .form-group
                                            label Lastname
                                            input(type="text" class="form-control" value="Hamzayev" required)
                                        |
                                        |
                                        .divider
                                        |
                                        |
                                        .form-group
                                            label Address
                                            input(type="text" class="form-control" value="A. Molla Cuma…" required)
                                        |
                                        |
                                        .form-group
                                            label City
                                            input(type="text" class="form-control" value="Baku" required)
                                        |
                                        |
                                        .form-group
                                            label Postcode
                                            input(type="text" class="form-control" value="AZ1075" required)
                                        |
                                        |
                                        .form-group
                                            input(type="checkbox" id="default-address" value="default")
                                            label(for="default-address") Set default delivery address
                                        |
                                        |
                                        button(class="btn-default submit-add-address") Add Address
                            // Panel (Change Password)
                        // Col
                // Col (Wrapper)
    // Orders Page
    |
    |