extends ../layout/layout.pug

block content
    div(class="modal fade" id="confirm-alert")
        .modal-dialog.confirm-alert
            .modal-content.text-center
                button(type="button" class="close close-modal" data-dismiss="modal")
                    svg(xmlns="http://www.w3.org/2000/svg" width="17" height="16")
                        g(fill="none" fill-rule="evenodd" class="hover-side" stroke="#000" stroke-linecap="round" stroke-width="1.5")
                            path(d="M1 1l14.656 13.609M15.656 1L1 14.609")
                // Close
                |
                |
                .alert-block
                    h2.title Are you sure to delete the address?
                    h3.subtitle If you will delete the address
                    |
                    |
                    .actions.flex
                        ="\n"
                        a(href="#" class="btn-yellow" data-dismiss="modal") Cancel
                        ="\n"
                        a(href="#" class="btn-default") Delete
                // Alert Block
    // Confirm Alert
    |
    |
    section.account-orders.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Account
                        li
                            a(href="#") Address Book
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-xl-10.offset-xl-1
                    .row
                        .col-md-5.account-sidebar-wrapper
                            .toggle-account-sidebar.visible-767
                            // Toggle Sidebar
                            |
                            |
                            .account-sidebar
                                .white-panel.user-panel
                                    .user-card.flex
                                        .thumb.flex
                                            span.text-uppercase fi
                                        |
                                        |
                                        .name
                                            p Hi,
                                            ="\n"
                                            strong Farid Ismayilov
                                    // User Card
                                // Panel
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="orders.html")
                                            ="\n"
                                            img(src=require("../../images/icons/orders.svg"))
                                            | My Orders
                                            ="\n"
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="user-info.html")
                                            ="\n"
                                            img(src=require("../../images/icons/user.svg"))
                                            | My Details
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="change-password.html")
                                            ="\n"
                                            img(src=require("../../images/icons/lock.svg"))
                                            | Change Password
                                            ="\n"
                                    li.active
                                        ="\n"
                                        a(href="#")
                                            ="\n"
                                            img(src=require("../../images/icons/marker.svg"))
                                            | Address Book
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/faq.svg"))
                                            | Need help?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/back.svg"))
                                            | How do I make a return?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/plastic-card2.svg"))
                                            | Payment & Delivery
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="javascript:void(0)")
                                            ="\n"
                                            img(src=require("../../images/icons/logout.svg"))
                                            | Sign Out
                                            ="\n"
                            // Account Sidebar
                        // Col
                        |
                        |
                        .col-md-7
                            .white-panel.blank
                                .panel-header.flex
                                    h3.panel-title.primary
                                        ="\n"
                                        img(src=require("../../images/icons/marker.svg"))
                                        | Address Book
                            // Panel
                            |
                            |
                            .white-panel.addresses-panel
                                .address-book
                                    .actions.flex
                                        ="\n"
                                        a(href="#" class="delete-address" data-toggle="modal" data-target="#confirm-alert")
                                            ="\n"
                                            img(src=require("../../images/icons/trash.svg"))
                                            ="\n"
                                        ="\n"
                                        a(href="#" class="edit-address")
                                            ="\n"
                                            img(src=require("../../images/icons/pencil.svg"))
                                            ="\n"
                                    |
                                    |
                                    p Farid Ismayılov
                                    p A.Molla Cuma küç. 4567 ev. 98, m. 20
                                    p Baku
                                    p Azerbaijan
                                    p AZ1075
                                    p 0702900914
                                    |
                                    |
                                    .is-default
                                        p This is your default delivery address
                                // User Address
                                |
                                |
                                .divider
                                |
                                |
                                .address-book
                                    .actions.flex
                                        ="\n"
                                        a(href="#" class="delete-address" data-toggle="modal" data-target="#confirm-alert")
                                            ="\n"
                                            img(src=require("../../images/icons/trash.svg"))
                                            ="\n"
                                        ="\n"
                                        a(href="#" class="edit-address")
                                            ="\n"
                                            img(src=require("../../images/icons/pencil.svg"))
                                            ="\n"
                                    |
                                    |
                                    p Farid Ismayılov
                                    p A.Molla Cuma küç. 4567 ev. 98, m. 20
                                    p Baku
                                    p Azerbaijan
                                    p AZ1075
                                    p 0702900914
                                    |
                                    |
                                    .is-default
                                        .form-group
                                            input(type="checkbox" id="default-address" value="default")
                                            label(for="default-address") Set default delivery address
                                // User Address
                                |
                                |
                                .divider
                                |
                                |
                                a(href="add-address.html" class="btn-yellow") Add address
                            // Panel (Addresses)
                        // Col
                // Col (Wrapper)
    // Orders Page
    |
    |