extends ../layout/layout.pug

block content
    section.static-page.career-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Company
                        li
                            a(href="#") Career
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-8
                    h1.page-title Work with Us
                    |
                    |
                    .page-desc
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .editor-body
                        p If you're interested in joining the FxPro team, please #[a(href="#") send your CV.]
                    // Text Editor
                    |
                    |
                    .vacancies-wrapper
                        h3.block-title Open vacancies
                        |
                        |
                        div(class="vacancies" id="vacancies")
                            .vacancy
                                .title
                                    ="\n"
                                    a(data-toggle="collapse" href="#vacancy0" aria-expanded="true") Senior Business Development Manager
                                    ="\n"
                                    span Baku | 2019-02-15 - 2019-08-20
                                |
                                |
                                .collapse.show(id="vacancy0")
                                    .vacancy-desc
                                        h3 Requirements
                                        .editor-body
                                            ul
                                                li Develop sophisticated web-based application
                                                li Develop Single Page Web Application using leading-edge web technologies
                                                li Work closely with Software Engineers, Project Manager, HTML Developers, QA
                                        |
                                        |
                                        h3 Responsibilities
                                        .editor-body
                                            ul
                                                li Bachelor’s Degree in Computer Sciences or any other related fields
                                                li Good command of the English language
                                                li 2+ years of continuous development as a Front-End Developer
                                                li Solid knowledge of Angular 2.0+ framework
                                                li Client-side design patterns
                                                li Experience with Git version control software
                                        |
                                        |
                                        a(href="#" class="btn-yellow apply-job") Apply Job
                                    // Description    
                            // Vacancy
                            |
                            |
                            .vacancy
                                .title
                                    ="\n"
                                    a(data-toggle="collapse" href="#vancancy1") Front-End Developer (Angular)
                                    ="\n"
                                    span Bakı | 2019-02-15 - 2019-08-20
                                |
                                |
                                .collapse(id="vancancy1")
                                    .vacancy-desc
                                        h3 Requirements
                                        .editor-body
                                            ul
                                                li Develop sophisticated web-based application
                                                li Develop Single Page Web Application using leading-edge web technologies
                                                li Work closely with Software Engineers, Project Manager, HTML Developers, QA
                                        |
                                        |
                                        h3 Responsibilities
                                        .editor-body
                                            ul
                                                li Bachelor’s Degree in Computer Sciences or any other related fields
                                                li Good command of the English language
                                                li 2+ years of continuous development as a Front-End Developer
                                                li Solid knowledge of Angular 2.0+ framework
                                                li Client-side design patterns
                                                li Experience with Git version control software
                                        |
                                        |
                                        a(href="#" class="btn-yellow apply-job applied") Apply Job
                                    // Description
                            // Vacancy
                            |
                            |
                            .vacancy
                                .title
                                    ="\n"
                                    a(data-toggle="collapse" href="#vacancy2") PHP Developer
                                    ="\n"
                                    span Baku | 2019-02-15 - 2019-08-20
                                |
                                |
                                .collapse(id="vacancy2")
                                    .vacancy-desc
                                        h3 Requirements
                                        .editor-body
                                            ul
                                                li Develop sophisticated web-based application
                                                li Develop Single Page Web Application using leading-edge web technologies
                                                li Work closely with Software Engineers, Project Manager, HTML Developers, QA
                                        |
                                        |
                                        h3 Responsibilities
                                        .editor-body
                                            ul
                                                li Bachelor’s Degree in Computer Sciences or any other related fields
                                                li Good command of the English language
                                                li 2+ years of continuous development as a Front-End Developer
                                                li Solid knowledge of Angular 2.0+ framework
                                                li Client-side design patterns
                                                li Experience with Git version control software
                                        |
                                        |
                                        a(href="#" class="btn-yellow apply-job") Apply Job
                                    // Description 
                            // Vacancy
                            |
                            |
                            .vacancy
                                .title
                                    ="\n"
                                    a(data-toggle="collapse" href="#vacancy3") Quality Assurance Engineer
                                    ="\n"
                                    span Baku | 2019-02-15 - 2019-08-20
                                |
                                |
                                .collapse(id="vacancy3")
                                    .vacancy-desc
                                        h3 Requirements
                                        .editor-body
                                            ul
                                                li Develop sophisticated web-based application
                                                li Develop Single Page Web Application using leading-edge web technologies
                                                li Work closely with Software Engineers, Project Manager, HTML Developers, QA
                                        |
                                        |
                                        h3 Responsibilities
                                        .editor-body
                                            ul
                                                li Bachelor’s Degree in Computer Sciences or any other related fields
                                                li Good command of the English language
                                                li 2+ years of continuous development as a Front-End Developer
                                                li Solid knowledge of Angular 2.0+ framework
                                                li Client-side design patterns
                                                li Experience with Git version control software
                                        |
                                        |
                                        a(href="#" class="btn-yellow apply-job") Apply Job
                                    // Description     
                            // Vacancy
    // Career Page
    |
    |