extends ../layout/layout.pug

block content
    section.cart-page
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Cart
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-7
                    .white-panel.blank
                        .panel-header.flex
                            h3.panel-title My cart
                            p You have 4 items in the card
                    // Panel
                    |
                    |
                    .cart-products
                        .cart-product.flex
                            .image
                                ="\n"
                                a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                            |
                            |
                            .info
                                .price-actions.flex
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    |
                                    |
                                    .actions.flex
                                        .delete
                                            ="\n"
                                            a(href="#")
                                                svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                    path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                ="\n"
                                        |
                                        |
                                        .add-to-favorite
                                            ="\n"
                                            a(href="#" class="preload")
                                                svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                    path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                ="\n"
                                // Price / Actions
                                ="\n"
                                a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                .product-params.flex
                                    .param
                                        select(name="color" class="custom-select" required)
                                            option(value hidden) Color
                                            option(value="brown") Brown
                                            option(value="grey") Grey
                                            option(value="navi") Navi
                                            option(value="black") Black
                                    .param
                                        select(name="size" class="custom-select" required)
                                            option(value hidden) Size
                                            option(value="m") M
                                            option(value="l") L
                                            option(value="xl") XL
                                            option(value="xxl") XXL
                                    .param
                                        select(name="color" class="custom-select" required)
                                            option(value hidden) Quantity 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 5
                        // Cart Product
                        |
                        |
                        .cart-product.flex
                            .image
                                ="\n"
                                a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                            |
                            |
                            .info
                                .price-actions.flex
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    |
                                    |
                                    .actions.flex
                                        .delete
                                            ="\n"
                                            a(href="#")
                                                svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                    path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")

                                                ="\n"
                                        |
                                        |
                                        .add-to-favorite
                                            ="\n"
                                            a(href="#")
                                                svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                    path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                ="\n"
                                // Price / Actions
                                ="\n"
                                a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                .product-params.flex
                                    .param
                                        select(name="color" class="custom-select" required)
                                            option(value hidden) Color
                                            option(value="brown") Brown
                                            option(value="grey") Grey
                                            option(value="navi") Navi
                                            option(value="black") Black
                                    .param
                                        select(name="size" class="custom-select" required)
                                            option(value hidden) Size
                                            option(value="m") M
                                            option(value="l") L
                                            option(value="xl") XL
                                            option(value="xxl") XXL
                                    .param
                                        select(name="color" class="custom-select" required)
                                            option(value hidden) Quantity 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 5
                        // Cart Product
                        |
                        |
                        .cart-product.flex
                            .image
                                ="\n"
                                a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                            |
                            |
                            .info
                                .price-actions.flex
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    |
                                    |
                                    .actions.flex
                                        .delete
                                            ="\n"
                                            a(href="#")
                                                svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                    path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")

                                                ="\n"
                                        |
                                        |
                                        .add-to-favorite
                                            ="\n"
                                            a(href="#")
                                                svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                    path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                ="\n"
                                // Price / Actions
                                ="\n"
                                a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                .product-params.flex
                                    .param
                                        select(name="color" class="custom-select" required)
                                            option(value hidden) Color
                                            option(value="brown") Brown
                                            option(value="grey") Grey
                                            option(value="navi") Navi
                                            option(value="black") Black
                                    .param
                                        select(name="size" class="custom-select" required)
                                            option(value hidden) Size
                                            option(value="m") M
                                            option(value="l") L
                                            option(value="xl") XL
                                            option(value="xxl") XXL
                                    .param
                                        select(name="color" class="custom-select" required)
                                            option(value hidden) Quantity 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 5
                        // Cart Product
                    // Cart Products
                // Col
                |
                |
                .col-lg-5
                    .white-panel.order-summary
                        .panel-header
                            h3.panel-title Order Summary
                        // Panel Header
                        |
                        |
                        .panel-body
                            .divider
                            |
                            |
                            .subtotal.flex
                                p Subtotal
                                ="\n"
                                strong 45.00 AZN
                            .subtotal.flex
                                p Delivery
                                ="\n"
                                strong 4.00 AZN
                            |
                            |
                            .divider
                            |
                            |
                            .total.flex
                                p.text-uppercase Total
                                ="\n"
                                strong 49.00 AZN
                            |
                            |
                            ="\n"
                            a(href="checkout1.html" class="btn-yellow checkout-products") Checkout
                            |
                            |
                            .accepted-payments
                                h3.panel-title.secondary We accept
                                |
                                |
                                div
                                    ="\n"
                                    img(src=require("../../images/icons/visa2.svg"))
                                div
                                    ="\n"
                                    img(src=require("../../images/icons/mastercard2.svg"))
                        // Panel Body
                    // Panel (Order Summary)
                    |
                    |
                    .white-panel
                        h3.panel-title.secondary FREE & EASY RETURNS
                        p Send it back within 45 days of receiving your order. Ts&Cs and country exclusions apply
                        ="\n"
                        a(href="#" class="more" target="_blank") More info
                    // Panel
                // Col
        |
        |
        .suggested-products.related-products
            .container-fluid
                .row
                    .col-12
                        h2.block-title Related Products                     
                        |
                        |
                        .products-slider.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color.active(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#" class="active")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image2.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Urban Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image3.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") EDC LITE BACKPACK® - Nylon
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                            |
                            |
                            .swiper-pagination
                        // Products Slider
        // Related Products
    // Cart Page
    |
    |
    include ../includes/subscribe.pug