extends ../layout/layout.pug

block content
    section.account-orders.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Account
                        li
                            a(href="#") My Orders
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-xl-10.offset-xl-1
                    .row
                        .col-md-5.account-sidebar-wrapper
                            .toggle-account-sidebar.visible-767
                            // Toggle Sidebar
                            |
                            |
                            .account-sidebar
                                .white-panel.user-panel
                                    .user-card.flex
                                        .thumb.flex
                                            span.text-uppercase fi
                                        |
                                        |
                                        .name
                                            p Hi,
                                            ="\n"
                                            strong Farid Ismayilov
                                    // User Card
                                // Panel
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="orders.html")
                                            ="\n"
                                            img(src=require("../../images/icons/orders.svg"))
                                            | My Orders
                                            ="\n"
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="user-info.html")
                                            ="\n"
                                            img(src=require("../../images/icons/user.svg"))
                                            | My Details
                                            ="\n"
                                    li.active
                                        ="\n"
                                        a(href="change-password.html")
                                            ="\n"
                                            img(src=require("../../images/icons/lock.svg"))
                                            | Change Password
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="#")
                                            ="\n"
                                            img(src=require("../../images/icons/marker.svg"))
                                            | Address Book
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/faq.svg"))
                                            | Need help?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/back.svg"))
                                            | How do I make a return?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/plastic-card2.svg"))
                                            | Payment & Delivery
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="javascript:void(0)")
                                            ="\n"
                                            img(src=require("../../images/icons/logout.svg"))
                                            | Sign Out
                                            ="\n"
                            // Account Sidebar
                        // Col
                        |
                        |
                        .col-md-7
                            .white-panel.blank
                                h3.panel-title.primary
                                    ="\n"
                                    img(src=require("../../images/icons/lock.svg"))
                                    | Change Password
                                |
                                |
                            // Panel
                            |
                            |
                            .white-panel.change-password
                                form(action="#" method="POST")
                                    .form-group
                                        label Current Password
                                        input(type="password" class="form-control" minlength="10" required)
                                    |
                                    |
                                    .form-group
                                        label New Password
                                        input(type="password" class="form-control" minlength="10" required)
                                    |
                                    |
                                    .form-group
                                        label New Password Again
                                        input(type="password" class="form-control" minlength="10" required)
                                    |
                                    |
                                    .form-group
                                        p *Must be 10 or more characters
                                    |
                                    |
                                    button(class="btn-default submit-save-password" disabled) Save Password
                            // Panel (Change Password)
                        // Col
                // Col (Wrapper)
    // Orders Page
    |
    |