extends ../layout/layout.pug

block content
    section.checkout-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Cart
                        li
                            a(href="#") Checkout
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-7
                    form(action="#" method="POST")
                        .white-panel.promocode
                            .panel-header
                                h3.panel-title Have a Promo Code?
                            // Panel Header
                            |
                            |
                            .panel-body
                                .field-wrapper
                                    .form-group
                                        label 6-digit promo code
                                        input(type="text" class="form-control")
                                    |
                                    |
                                    button(class="btn-black apply-promocode") Apply Code
                                |
                                |
                                p.info-text Got a gift card? Visit My Account to add it to your gift-voucher balance before you can redeem it at checkout.
                            // Panel Body
                        // Panel (Promocode)
                        |
                        |
                        .white-panel.delivery-address
                            .panel-header
                                h3.panel-title Delivery Address
                            // Panel Header
                            |
                            |
                            .panel-body
                                p.panel-info-text Update your address details and all future delivery labels will appear exactly as they are below.
                                |
                                |
                                .form-group
                                    label Mobile
                                    input(type="text" class="form-control" name="mobile" value="0702900914" required)
                                |
                                |
                                .form-group
                                    label Firstname
                                    input(type="text" class="form-control" name="firstname" value="Farid" required)
                                |
                                |
                                .form-group
                                    label Lastname
                                    input(type="text" class="form-control" name="lastname" value="Ismayilov" required)
                                |
                                |
                                .divider
                                |
                                |
                                .form-group
                                    label A. Molla Cuma …
                                    input(type="text" class="form-control" name="address" value="A. Molla Cuma…" required)
                                |
                                |
                                .form-group
                                    label Mobile
                                    input(type="text" class="form-control" name="mobile" value="Baku" required)
                                |
                                |
                                .form-group
                                    label Postcode
                                    input(type="text" class="form-control" name="postcode" value="AZ1075" required)
                                |
                                |
                                .form-group
                                    input(type="checkbox" name="set-default-address" id="set-default-address")
                                    label(for="set-default-address") Set default delivery address
                                |
                                |
                                button(class="btn-yellow submit-payment") Add Adress
                            // Panel Body
                        // Panel (Delivery Address)
                    // Checkout Form
                // Col
                |
                |
                .col-lg-5
                    .white-panel.order-summary
                        .panel-header.flex
                            h3.panel-title Order Summary
                            p You have 4 items in the card
                        // Panel Header
                        |
                        |
                        .panel-body
                            .divider
                            |
                            |
                            .cart-product.flex
                                .image
                                    ="\n"
                                    a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                |
                                |
                                .info
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    ="\n"
                                    a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                    .product-params.flex
                                        .param Brown
                                        .param M
                                        .param Quantity 1
                            // Cart Product
                            |
                            |
                            .divider
                            |
                            |
                            .cart-product.flex
                                .image
                                    ="\n"
                                    a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                |
                                |
                                .info
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    ="\n"
                                    a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                    .product-params.flex
                                        .param Brown
                                        .param M
                                        .param Quantity 1
                            // Cart Product
                            |
                            |
                            .divider
                            |
                            |
                            .subtotal.flex
                                p Subtotal
                                ="\n"
                                strong 45.00 AZN
                            .subtotal.flex
                                p Delivery
                                ="\n"
                                strong 4.00 AZN
                            |
                            |
                            .divider
                            |
                            |
                            .total.flex
                                p.text-uppercase Total
                                ="\n"
                                strong 49.00 AZN
                        // Panel Body
                    // Panel (Order Summary)
                // Col
    // Checkout Page
    |
    |
    include ../includes/subscribe.pug