extends ../layout/layout.pug

block content
    section.checkout-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Cart
                        li
                            a(href="#") Checkout
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-7
                    form(action="#" method="POST")
                        .white-panel.delivery-address.card-credentials
                            .panel-header
                                h3.panel-title Enter payment details
                            // Panel Header
                            |
                            |
                            .panel-body
                                p.panel-info-text Update your address details and all future delivery labels will appear exactly as they are below.
                                |
                                |
                                .form-group
                                    label Card number
                                    input(type="text" class="form-control" name="card-number" required)
                                |
                                |
                                .form-group
                                    label Expiry date
                                    select(name="month" class="custom-select" required)
                                        option(value hidden) MM
                                        option(value="01") 01
                                        option(value="02") 02
                                        option(value="03") 03
                                        option(value="04") 04
                                        option(value="05") 05
                                        option(value="06") 06
                                        option(value="07") 07
                                        option(value="08") 08
                                        option(value="09") 09
                                        option(value="10") 10
                                        option(value="11") 11
                                        option(value="12") 12
                                    |
                                    |
                                    select(name="month" class="custom-select" required)
                                        option(value hidden) YYYY
                                        option(value="2016") 2016
                                        option(value="2017") 2017
                                        option(value="2018") 2018
                                        option(value="2019") 2019
                                        option(value="2020") 2020
                                |
                                |
                                .form-group
                                    label Name on card
                                    input(type="text" class="form-control" name="number-on-card" required)
                                |
                                |
                                .form-group.flex.cvv
                                    label CVV
                                    input(type="text" class="form-control" name="cvv" required)
                                    |
                                    |
                                    img(src=require("../../images/icons/plastic-card.svg"))
                                |
                                |
                                button(class="btn-yellow submit-payment") Confirm & Pay
                                |
                                |
                                p.terms-agreement By placing your order you agree to our #[a(href="terms.html" target="_blank") Terms & Conditions], privacy and returns policies . You also consent to some of your data being stored by MyBrands, which may be used to make future shopping experiences better for you.
                            // Panel Body
                        // Panel (Delivery Address)
                    // Checkout Form
                // Col
                |
                |
                .col-lg-5
                    .white-panel.order-summary
                        .panel-header.flex
                            h3.panel-title Order Summary
                            p You have 4 items in the card
                        // Panel Header
                        |
                        |
                        .panel-body
                            .divider
                            |
                            |
                            .cart-product.flex
                                .image
                                    ="\n"
                                    a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                |
                                |
                                .info
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    ="\n"
                                    a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                    .product-params.flex
                                        .param Brown
                                        .param M
                                        .param Quantity 1
                            // Cart Product
                            |
                            |
                            .divider
                            |
                            |
                            .cart-product.flex
                                .image
                                    ="\n"
                                    a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                |
                                |
                                .info
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    ="\n"
                                    a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                    .product-params.flex
                                        .param Brown
                                        .param M
                                        .param Quantity 1
                            // Cart Product
                            |
                            |
                            .divider
                            |
                            |
                            .subtotal.flex
                                p Subtotal
                                ="\n"
                                strong 45.00 AZN
                            .subtotal.flex
                                p Delivery
                                ="\n"
                                strong 4.00 AZN
                            |
                            |
                            .divider
                            |
                            |
                            .total.flex
                                p.text-uppercase Total
                                ="\n"
                                strong 49.00 AZN
                        // Panel Body
                    // Panel (Order Summary)
                // Col
    // Checkout Page
    |
    |
    include ../includes/subscribe.pug