extends ../layout/layout.pug

block content
    section.static-page.faq-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") For Clients
                        li
                            a(href="#") FAQ
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-8
                    h1.page-title Help Center
                    |
                    |
                    .page-desc
                        p Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know. The key trading terms can be found in the trader's glossary.
                // Col
                |
                |
                .col-12
                    ul.info-centres.flex
                        li
                            | 8 (800) 700-43-43
                            span For Corporate Clients
                        |
                        |
                        li
                            | 8 (800) 700-43-43
                            span Support Center
                        |
                        |
                        li
                            | 8 (800) 700-43-43
                            span Online Store
                        |
                        |
                        li.emails
                            ="\n"
                            a(href="#" class="email-address")
                                ="\n"
                                img(src=require("../../images/icons/envelope-yellow.svg"))
                                | shop@palladium.az
                                ="\n"
                            |
                            |
                            a(href="#" class="email-address")
                                ="\n"
                                img(src=require("../../images/icons/envelope-yellow.svg"))
                                | office@palladium.az
                                ="\n"
                        li
                            ul.socials.flex
                                li
                                    ="\n"
                                    a(href="#" target="_blank")
                                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="16")
                                            defs
                                                path(id="a" d="M0 0h22v22H0z")
                                            g(fill="none" fill-rule="evenodd")
                                                path(fill="#000" fill-rule="nonzero" d="M-16-12h40v40h-40z" opacity="0")
                                                g(transform="translate(-7 -3)")
                                                    mask(id="b" fill="#fff")
                                                        use(xlink:href="#a")
                                                    path(fill="#000" d="M12.133 8.133H14.7l-.32 2.567h-2.247v7.7H8.805v-7.7H7V8.133h1.805V6.41c0-1.123.28-1.972.842-2.547.561-.575 1.497-.862 2.807-.862H14.7v2.567h-1.364c-.508 0-.835.08-.982.24-.147.16-.22.428-.22.802v1.524z" mask="url(#b)")
                                        ="\n"
                                |
                                |
                                li
                                    ="\n"
                                    a(href="#" target="_blank")
                                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="13")
                                            defs
                                                path(id="a" d="M0 0h22v22H0z")
                                            g(fill="none" fill-rule="evenodd")
                                                path(fill="#000" fill-rule="nonzero" d="M-13-14h40v40h-40z" opacity="0")
                                                g(transform="translate(-4 -5)")
                                                    mask(id="b" fill="#fff")
                                                        use(xlink:href="#a")
                                                    path(fill="#000" d="M19.4 6.485a6.785 6.785 0 0 1-1.583 1.632c.01.137.01.274.01.41 0 4.173-3.176 8.98-8.98 8.98A8.919 8.919 0 0 1 4 16.092c.254.03.498.039.762.039a6.32 6.32 0 0 0 3.919-1.349 3.162 3.162 0 0 1-2.951-2.188c.195.029.39.048.596.048.283 0 .566-.039.83-.107a3.157 3.157 0 0 1-2.53-3.098v-.039c.42.235.908.381 1.426.4A3.154 3.154 0 0 1 4.645 7.17c0-.586.156-1.123.43-1.592a8.971 8.971 0 0 0 6.508 3.302 3.562 3.562 0 0 1-.078-.723A3.155 3.155 0 0 1 14.66 5c.909 0 1.73.381 2.306.997a6.214 6.214 0 0 0 2.003-.762 3.148 3.148 0 0 1-1.388 1.739 6.328 6.328 0 0 0 1.818-.489z" mask="url(#b)")
                                        ="\n"
                                |
                                |
                                li
                                    ="\n"
                                    a(href="#" target="_blank")
                                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="15")
                                            defs
                                                path(id="a" d="M0 0h22v22H0z")
                                            g(fill="none" fill-rule="evenodd")
                                                path(fill="#000" fill-rule="nonzero" d="M-13-13h40v40h-40z" opacity="0")
                                                g(transform="translate(-4 -4)")
                                                    mask(id="b" fill="#fff")
                                                        use(xlink:href="#a")
                                                    path(fill="#000" d="M7.332 8.555v9.462h-3.15V8.555h3.15zm.201-2.922c.01.907-.678 1.633-1.776 1.633h-.02C4.679 7.266 4 6.54 4 5.633 4 4.707 4.707 4 5.776 4c1.079 0 1.747.707 1.757 1.633zM12.212 9.9c.414-.648 1.162-1.565 2.836-1.565 2.072 0 3.619 1.356 3.619 4.259v5.423h-3.142v-5.06c0-1.27-.458-2.14-1.594-2.14-.87 0-1.385.583-1.614 1.147-.077.21-.105.487-.105.773v5.28H9.07c.039-8.574 0-9.462 0-9.462h3.142V9.9z" mask="url(#b)")
                                        ="\n"
                                |
                                |
                                li
                                    ="\n"
                                    a(href="#" target="_blank")
                                        svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15" height="11")
                                            defs
                                                path(id="a" d="M0 0h22v22H0z")
                                            g(fill="none" fill-rule="evenodd")
                                                path(fill="#000" fill-rule="nonzero" d="M-13-15h40v40h-40z" opacity="0")
                                                g(transform="translate(-4 -6)")
                                                    mask(id="b" fill="#fff")
                                                        use(xlink:href="#a")
                                                    path(fill="#000" d="M9.82 13.055l3.96-2.046-3.96-2.07v4.116zM11.332 6c3.086 0 5.132.147 5.132.147.286.033.917.033 1.473.622 0 0 .45.442.581 1.457.156 1.187.148 2.374.148 2.374v1.113s.008 1.186-.148 2.373c-.13 1.007-.58 1.457-.58 1.457-.557.581-1.188.581-1.474.614 0 0-2.046.155-5.132.155-3.814-.032-4.984-.147-4.984-.147-.327-.057-1.064-.04-1.62-.622 0 0-.45-.45-.582-1.457C3.992 12.9 4 11.713 4 11.713V10.6s-.008-1.187.147-2.374c.131-1.015.581-1.457.581-1.457.557-.589 1.187-.589 1.474-.622 0 0 2.046-.147 5.131-.147z" mask="url(#b)")
                                        ="\n"
                            // Social Icons
                    // Faq Info Centres
                // Col
        // Container
        |
        |
        .faq-section
            .container-fluid
                .row
                    .col-12
                        h2.block-title FAQ
                    // Col
                    |
                    |
                    .col-md-4
                        .white-panel.faq-sidebar
                            ul.sidebar-list
                                li.active
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/icons/orders-basket.svg"))
                                        | General
                                        ="\n"
                                li
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/icons/delivery.svg"))
                                        | Delivery
                                        ="\n"
                                li
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/icons/back.svg"))
                                        | Returns
                                        ="\n"
                                li
                                    ="\n"
                                    a(href="#")
                                        ="\n"
                                        img(src=require("../../images/icons/plastic-card2.svg"))
                                        | Payment
                                        ="\n"
                    // Col
                    |
                    |
                    .col-md-8
                        .white-panel.faq-content
                            ul(class="faq-questions" id="faq-questions")
                                li
                                    ="\n"
                                    a(data-toggle="collapse" href="#question0") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                    |
                                    |
                                    .collapse(data-parent="#faq-questions" id="question0")
                                        .faq-answer
                                            p - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas ducimus illum provident fugit sed ab, id aspernatur eum sunt voluptatem?
                                li
                                    ="\n"
                                    a(data-toggle="collapse" href="#question1") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                    |
                                    |
                                    .collapse(data-parent="#faq-questions" id="question1")
                                        .faq-answer
                                            p - Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero perferendis commodi exercitationem qui porro asperiores cumque quo, rerum quod libero illum, error consequuntur excepturi!
                                li
                                    ="\n"
                                    a(data-toggle="collapse" href="#question2") Our step-by-step trading academy will guide you through the world of Forex Trading and teach you everything you need to know?
                                    |
                                    |
                                    .collapse(data-parent="#faq-questions" id="question2")
                                        .faq-answer
                                            p - Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, eveniet! Nostrum explicabo fuga praesentium, amet autem nesciunt corporis. Nostrum, voluptatem ullam. Necessitatibus, doloremque modi? Velit nemo nobis cupiditate odit exercitationem?
                    // Col
        // FAQ Section
    // FAQ Page
    |
    |