extends ../layout/layout.pug

block content
    section.static-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Company
                        li
                            a(href="#") For Corporate Clients
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-8
                    h1.page-title For Corporate Clients
                    |
                    |
                    .page-desc
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .editor-body
                        p
                            strong The standard Lorem Ipsum passage, used since the 1500s
                        p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    // Text Editor
                    |
                    |
                    .contact-form
                        h2.block-title.text-uppercase Send us a message
                        |
                        |
                        form(action="#" method="POST")
                            .form-group
                                input(type="email" class="form-control" required placeholder="Email Address")
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" required placeholder="Firstname")
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" required placeholder="Lastname")
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" required placeholder="Mobile")
                            |
                            |
                            .form-group
                                input(type="text" class="form-control" required placeholder="Company name")
                            |
                            |
                            .form-group
                                textarea(class="form-control" placeholder="Message")
                            |
                            |
                            p.info-text By creating your account, you agree to our #[a(href="terms.html") Terms and Conditions] & #[a(href="privacy-policy.html") Privacy Policy]
                            |
                            |
                            button(class="btn-yellow submit-contact") Send Message
                    // Contact Form
    // Static Page
    |
    |