extends ../layout/layout.pug

block content
    section.main-page
        .intro-slider.swiper-container(data-aos="fade-in" data-aos-duration="700")
            .swiper-wrapper
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image0.jpg"))
                    // Bg Image
                    |
                    |
                    .container
                        .row
                            .col-12.flex
                                .category-ref
                                    ="\n"
                                    a(href="products.html" class="category") Outwears
                                    h1.title.text-uppercase GREYWOLF OUTWEARS
                                    h2.subtitle Cover and Protect with Confidence!
                                    |
                                    |
                                    a(href="products.html" class="btn-custom")
                                        | See All Outwear products
                                        svg(xmlns="http://www.w3.org/2000/svg" width="7" height="10")
                                            path(fill="#FFF" d="M1.32 0l5 5-5 5L.14 8.82 3.98 5 .14 1.18z")
                                        ="\n"
                // Slide
                |
                |
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image0.jpg"))
                    // Bg Image
                    |
                    |
                    .container
                        .row
                            .col-12.flex
                                .category-ref
                                    ="\n"
                                    a(href="products.html" class="category") Outwears
                                    h1.title.text-uppercase GREYWOLF OUTWEARS
                                    h2.subtitle Cover and Protect with Confidence!
                                    |
                                    |
                                    a(href="products.html" class="btn-custom")
                                        | See All Outwear products
                                        svg(xmlns="http://www.w3.org/2000/svg" width="7" height="10")
                                            path(fill="#FFF" d="M1.32 0l5 5-5 5L.14 8.82 3.98 5 .14 1.18z")
                                        ="\n"
                // Slide
                |
                |
                .swiper-slide
                    .swiper-lazy.cover-center(data-background=require("../../images/intro-slider/image0.jpg"))
                    // Bg Image
                    |
                    |
                    .container
                        .row
                            .col-12.flex
                                .category-ref
                                    ="\n"
                                    a(href="products.html" class="category") Outwears
                                    h1.title.text-uppercase GREYWOLF OUTWEARS
                                    h2.subtitle Cover and Protect with Confidence!
                                    |
                                    |
                                    a(href="products.html" class="btn-custom")
                                        | See All Outwear products
                                        svg(xmlns="http://www.w3.org/2000/svg" width="7" height="10")
                                            path(fill="#FFF" d="M1.32 0l5 5-5 5L.14 8.82 3.98 5 .14 1.18z")
                                        ="\n"
                // Slide
            |
            |
            .swiper-pagination
        // Intro Slider
        |
        |
        .brands
            .container-fluid
                .row
                    .col-12
                        .brands-slider.swiper-container(data-aos="fade-in" data-aos-duration="700")
                            .swiper-wrapper
                                .swiper-slide
                                    ="\n"
                                    a(href="")
                                        ="\n"
                                        img(src=require("../../images/brands/image0.png"))
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="")
                                        ="\n"
                                        img(src=require("../../images/brands/image1.png"))
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="")
                                        ="\n"
                                        img(src=require("../../images/brands/image2.png"))
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="")
                                        ="\n"
                                        img(src=require("../../images/brands/image3.png"))
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="")
                                        ="\n"
                                        img(src=require("../../images/brands/image4.png"))
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="")
                                        ="\n"
                                        img(src=require("../../images/brands/image5.png"))
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="")
                                        ="\n"
                                        img(src=require("../../images/brands/image6.png"))
                                        ="\n"
                                .swiper-slide
                                    ="\n"
                                    a(href="")
                                        ="\n"
                                        img(src=require("../../images/brands/image7.png"))
                                        ="\n"
                    // Col
        // Brands
        |
        |
        .suggested-products(data-aos="fade-up" data-aos-duration="700")
            .container-fluid
                .row
                    .col-12
                        .section-header.flex
                            h2.section-title Sugessted Products
                            |
                            |
                            .slider-controls.flex.hidden-575
                                .slide-prev
                                    svg(xmlns="http://www.w3.org/2000/svg" width="7" height="10")
                                        path(fill="#FFF" d="M1.32 0l5 5-5 5L.14 8.82 3.98 5 .14 1.18z")

                                .slide-next
                                    svg(xmlns="http://www.w3.org/2000/svg" width="7" height="10")
                                        path(fill="#FFF" d="M1.32 0l5 5-5 5L.14 8.82 3.98 5 .14 1.18z")

                        // Section Header
                        |
                        |
                        .products-slider.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color.active(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#" class="active")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image2.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Urban Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image3.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") EDC LITE BACKPACK® - Nylon
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                            |
                            |
                            .swiper-pagination
                        // Products Slider
        // Suggested Products
        |
        |
        .bnrs
            .container-fluid
                .row
                    .col-md-6
                        .bnr-block(data-aos="fade-right" data-aos-duration="700")
                            .image
                                ="\n"
                                img(src=require("../../images/bnrs/image0.png"))
                            |
                            |
                            .info.flex
                                div
                                    ="\n"
                                    a.category(href="#") Outwears
                                    ="\n"
                                    a(href="#" class="title text-uppercase") Men’s Stretch Tactical Pants
                                    h3.subtitle 9-Pocket Design, High-Performance Fabrics
                    // Col
                    |
                    |
                    .col-md-6
                        .bnr-block(data-aos="fade-left" data-aos-duration="700")
                            .image
                                ="\n"
                                img(src=require("../../images/bnrs/image1.png"))
                            |
                            |
                            .info.flex
                                div
                                    ="\n"
                                    a.category(href="#") Bags
                                    ="\n"
                                    a(href="#" class="title text-uppercase") NEW FORCES 66
                                    h3.subtitle Full-Feautured multi-day Backpack
                    // Col
        // Banners Section
        |
        |
        .advantages(data-aos="fade-in" data-aos-duration="700")
            .row
                .col-lg-3.col-6
                    .advantage.text-center
                        .icon
                            img(src=require("../../images/icons/shirt.svg"))
                        |
                        |
                        p High-quality products in a wide range
                // Col
                |
                |
                .col-lg-3.col-6
                    .advantage.text-center
                        .icon
                            img(src=require("../../images/icons/car.svg"))
                        |
                        |
                        p Fast and safe Delivery
                // Col
                |
                |
                .col-lg-3.col-6
                    .advantage.text-center
                        .icon
                            img(src=require("../../images/icons/clock.svg"))
                        |
                        |
                        p Free return guaranteed secure payments
                // Col
                |
                |
                .col-lg-3.col-6
                    .advantage.text-center
                        .icon
                            img(src=require("../../images/icons/shield.svg"))
                        |
                        |
                        p Fully guaranteed sales and service
                // Col
        // Advantages
    // Main Page
    |
    |
    include ../includes/subscribe.pug