extends ../layout/simple-layout.pug

block content
    section.auth-page
        .auth-wrapper
            ul.nav.flex
                li.active
                    ="\n"
                    a(href="login.html") Sign in
                li
                    ="\n"
                    a(href="register.html") Sign up
            |
            |
            .auth-content
                h2.block-title.text-uppercase Sign In with email
                |
                |
                form(action="#" method="POST")
                    .form-group
                        label Email Address
                        input(type="email" class="form-control" placeholder="E-mail" required)
                    |
                    |
                    .form-group
                        label Password
                        input(type="password" class="form-control" placeholder="Password" required)
                    |
                    |
                    button(class="btn-yellow submit-login") Sign In
                // Login Form
                |
                |
                ="\n"
                a(href="#" class="forgot-password") Forgot password?
                |
                |
                .auth-divider.text-center
                    ="\n"
                    span OR
                |
                |
                .auth-with-socials.flex
                    h2.block-title.text-uppercase Sign In with
                    |
                    |
                    ="\n"
                    a(href="#")
                        img(src=require("../../images/icons/auth-google.svg"))
                        | Google
                    ="\n"
                    a(href="#")
                        img(src=require("../../images/icons/auth-facebook.svg"))
                        | Facebook
                // Auth With Socials
            // Auth content
    // Auth Page
    |
    |