extends ../layout/layout.pug

block content
    .site-alert.alert-danger(success-class="alert-success")
        .alert-content.flex
            ="\n"
            p
                strong Something went wrong
                | To view details check your #[a(href="") e-mail]
    // Alert
    |
    |
    section.order-review.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Cart
                        li
                            a(href="#") Order review
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-7.col-md-6
                    .white-panel.credits
                        .panel-header
                            h2.panel-title THANK YOU FOR YOUR ORDER
                        // Panel Header
                        |
                        |
                        .panel-body
                            p.panel-info-text Please check your inbox, as a confirmation email is on its way.
                            table.order-details
                                tr
                                    td Order Status
                                    td
                                        p.order-status.unsuccessful Unsuccessful
                                        // <p class="order-status successful">Successful</p>
                                tr
                                    td Order Total
                                    td
                                        p 45.00 AZN
                                tr
                                    td Order No
                                    td
                                        p 4QTUNIK17T34
                                tr
                                    td Order Date
                                    td
                                        p Friday, 11 October, 2019
                                tr
                                    td Delivery Date
                                    td
                                        p Monday, 14 October, 2019
                    // Panel (Credits)
                    |
                    |
                    .white-panel.order-summary
                        .panel-header.flex
                            h3.panel-title Order Summary
                            p You have 4 items in the card
                        // Panel Header
                        |
                        |
                        .panel-body
                            .divider
                            |
                            |
                            .cart-product.flex
                                .image
                                    ="\n"
                                    a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                |
                                |
                                .info
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    ="\n"
                                    a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                    .product-params.flex
                                        .param Brown
                                        .param M
                                        .param Quantity 1
                            // Cart Product
                            |
                            |
                            .divider
                            |
                            |
                            .cart-product.flex
                                .image
                                    ="\n"
                                    a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                                |
                                |
                                .info
                                    .price.flex
                                        .current 99.00 AZN
                                        .old 155 AZN
                                    ="\n"
                                    a(href="product-inner.html" class="name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                    .product-params.flex
                                        .param Brown
                                        .param M
                                        .param Quantity 1
                            // Cart Product
                        // Panel Body
                    // Panel (Order Summary)
                    |
                    |
                    .order-actions
                        ul.flex
                            li
                                ="\n"
                                a(href="#") Cancel this Order
                            li
                                ="\n"
                                a(href="profile.html") My Account
                            li
                                ="\n"
                                a(href="return-policy.html") My Account
                    // Order Actions
                    |
                    |
                    a(href="#" class="btn-yellow continue-shopping") Continue Shopping
                // Col
                |
                |
                .col-lg-5.col-md-6
                    .bnr-block
                        .image
                            ="\n"
                            img(src=require("../../images/bnrs/image0.png"))
                        |
                        |
                        .info.flex
                            div
                                ="\n"
                                a.category(href="#") Outwears
                                ="\n"
                                a(href="#" class="title text-uppercase") Men’s Stretch Tactical Pants
                                h3.subtitle 9-Pocket Design, High-Performance Fabrics
                // Col
    // Order Review Page
    |
    |
    include ../includes/subscribe.pug