extends ../layout/layout.pug

block content
    section.static-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Company
                        li
                            a(href="#") Payment & Delivery
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-8
                    h1.page-title Payment & Delivery
                    |
                    |
                    .page-desc
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .editor-body
                        p If you're interested in joining the FxPro team, please #[a(href="career.html") send your CV].
                    // Text Editor
                // Col
                |
                |
                .col-lg-6
                    .white-panel
                        .panel-header
                            h3.panel-title Payment Options
                        // Panel Header
                        |
                        |
                        .panel-body
                            p.panel-info-text Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                            .accepted-payments
                                h3.panel-title.secondary We accept
                                |
                                |
                                div
                                    ="\n"
                                    img(src=require("../../images/icons/visa2.svg"))
                                div
                                    ="\n"
                                    img(src=require("../../images/icons/mastercard2.svg"))
                    // Panel
                // Col
                |
                |
                .col-lg-6
                    .white-panel
                        .panel-header
                            h3.panel-title Delivery Options
                        // Panel Header
                        |
                        |
                        .panel-body
                            p.panel-info-text Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                            |
                            |
                            .row
                                .col-md-6
                                    .delivery-option
                                        h3.panel-title.secondary Standart Delivery
                                        |
                                        |
                                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. 
                                // Col
                                |
                                |
                                .col-md-6
                                    .delivery-option
                                        h3.panel-title.secondary Express Delivery
                                        |
                                        |
                                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. 
                                // Col
                    // Panel
                // Col
    // Static Page
    |
    |