extends ../layout/layout.pug

block content
    section.product-inner-page
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Uniforms
                        li
                            a(href="#") Military Spec Uniforms
        // Breadcrumb
        |
        |
        .selected-product
            .container-fluid
                .row
                    .col-xl-10.offset-xl-1.flex
                        .product-gallery.flex
                            .gallery
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/products/image0.png"))
                                            .swiper-lazy-preloader
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/products/image1.png"))
                                            .swiper-lazy-preloader
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/products/image2.png"))
                                            .swiper-lazy-preloader
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/products/image3.png"))
                                            .swiper-lazy-preloader
                            // Gallery
                            |
                            |
                            .gallery-thumbs
                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/products/image0.png"))
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/products/image1.png"))
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/products/image2.png"))
                                        .swiper-slide
                                            .swiper-lazy.cover-center(data-background=require("../../images/products/image3.png"))
                            // Thumbs
                        // Product Gallery
                        |
                        |
                        .product-info
                            ="\n"
                            span.category Military Spec Uniforms
                            h2.name Urban Tactical Shorts FLEX11 - Nyco Ripstop
                            |
                            |
                            .price.flex
                                .current 99.98 AZN
                                .old 155 AZN
                            |
                            |
                            .size
                                p.text-uppercase Size:
                                .form-group.select
                                    label Find your fit assistant size
                                    select(name="category" class="custom-select" required)
                                        option(value hidden) Select Color (S, M, L, XL, XXL) 
                                        option(value="s") S
                                        option(value="m") M
                                        option(value="l") L
                                        option(value="xl") XL
                                        option(value="xxl") XXL
                            |
                            |
                            .colors.flex
                                p.text-uppercase Color:
                                |
                                |
                                .swiper-container.colors-slider
                                    .swiper-wrapper
                                        .swiper-slide.no-swipe
                                            .color.active
                                                ="\n"
                                                a(href="#" class="thumb")
                                                    .cover-center(style="background-image: url("+require("../../images/products/image3.png")+")")
                                                .color-name Black
                                        |
                                        |
                                        .swiper-slide.no-swipe
                                            .color
                                                ="\n"
                                                a(href="#" class="thumb")
                                                    .cover-center(style="background-image: url("+require("../../images/products/image3.png")+")")
                                                .color-name Blue
                                        |
                                        |
                                        .swiper-slide.no-swipe
                                            .color
                                                ="\n"
                                                a(href="#" class="thumb")
                                                    .cover-center(style="background-image: url("+require("../../images/products/image3.png")+")")
                                                .color-name Purple
                                        |
                                        |
                                        .swiper-slide.no-swipe
                                            .color
                                                ="\n"
                                                a(href="#" class="thumb")
                                                    .cover-center(style="background-image: url("+require("../../images/products/image3.png")+")")
                                                .color-name Navi
                                // Colors Slider
                            // Available Colors
                            |
                            |
                            .actions.flex
                                ="\n"
                                a(href="#" class="btn-yellow add-to-cart") ADD TO BAG
                                ="\n"
                                a(href="#" class="add-to-favorite")
                                    svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                        path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                    ="\n"
                        // Product Info
        // Selected Product
        |
        |
        .product-detailed-info
            .container-fluid
                .row
                    .col-md-4.col-sm-6
                        h3.title.text-uppercase PRODUCT DETAILS
                        |
                        |
                        .editor-body
                            p Product code: 1402886
                            ul
                                li - For life on the run
                                li - Crew neck
                                li - Nike Swoosh logo
                                li - Reflective detailing for increased visibility
                                li - Regular fit
                                li - No surprises, just a classic cut
                    // Col
                    |
                    |
                    .col-md-4.col-sm-6
                        h3.title.text-uppercase ABOUT PRODUCT
                        |
                        |
                        .editor-body
                            p Lightweight jersey
                            p Uses Nike Dri-FIT technology
                            p Helps move sweat away from the skin 
                            p Sweat is then drawn out of the fabric to speed up evaporation   
                            p Keeping you cool and dry
                            p Main: 100% Polyester.
                    // Col
                    |
                    |
                    .col-md-4.col-sm-6
                        h3.title.text-uppercase SIZE & FIT
                        |
                        |
                        .editor-body
                            p Model's height: 183cm/6'0"
                            p Model is wearing: Size Medium
                    // Col
        // Product Detailed Info
        |
        |
        .suggested-products.related-products
            .container-fluid
                .row
                    .col-12
                        h2.block-title Related Products                     
                        |
                        |
                        .products-slider.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color.active(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#" class="active")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image2.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Urban Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image3.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") EDC LITE BACKPACK® - Nylon
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                                |
                                |
                                .swiper-slide
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Slide
                            |
                            |
                            .swiper-pagination
                        // Products Slider
        // Related Products
    // Product Inner Page
    |
    |
    include ../includes/subscribe.pug