extends ../layout/layout.pug

block content
    section.products-page
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Uniforms
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-12
                    .top-bnrs
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide.no-swipe
                                    .bnr-block
                                        .image
                                            ="\n"
                                            img(data-src=require("../../images/bnrs/image0.png") class="swiper-lazy")
                                        |
                                        |
                                        .info.flex
                                            div
                                                ="\n"
                                                a(href="#" class="title text-uppercase") Men’s Stretch Tactical Pants
                                                h3.subtitle 9-Pocket Design, High-Performance Fabrics
                                // Slide
                                |
                                |
                                .swiper-slide.no-swipe
                                    .bnr-block
                                        .image
                                            ="\n"
                                            img(data-src=require("../../images/bnrs/image0.png") class="swiper-lazy")
                                        |
                                        |
                                        .info.flex
                                            div
                                                ="\n"
                                                a(href="#" class="title text-uppercase") Men’s Stretch Tactical Pants
                                                h3.subtitle 9-Pocket Design, High-Performance Fabrics
                                // Slide
                                |
                                |
                                .swiper-slide.no-swipe
                                    .bnr-block
                                        .image
                                            ="\n"
                                            img(data-src=require("../../images/bnrs/image1.png") class="swiper-lazy")
                                        |
                                        |
                                        .info.flex
                                            div
                                                ="\n"
                                                a(href="#" class="title text-uppercase") NEW FORCES 66
                                                h3.subtitle Full-Feautured multi-day Backpack
                                // Slide
                    // Top Banners
        |
        |
        .products-wrapper
            .container-fluid
                .row
                    .col-3.filters-wrapper
                        .toggle-filters.visible-1024
                        // Toggle Filters
                        |
                        |
                        .filters-group
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item0" aria-expanded="true") Qiymət
                                |
                                |
                                div(class="collapse show" id="filter-item0")
                                    .collapse-content
                                        .form-group
                                            input(type="hidden" class="range-input" data-min="0" data-max="3499" value="349,2671")
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item1") Brend
                                |
                                |
                                div(class="collapse" id="filter-item1")
                                    .collapse-content
                                        .form-group
                                            input(type="checkbox" id="apple" value="Apple")
                                            label(for="apple") Apple (40)
                                        .form-group
                                            input(type="checkbox" id="asus" value="Asus")
                                            label(for="asus") Asus (2)
                                        .form-group
                                            input(type="checkbox" id="huawei" value="Huawei")
                                            label(for="huawei") Huawei (25)
                                        .form-group
                                            input(type="checkbox" id="lg" value="LG")
                                            label(for="lg") LG (7)
                                        .form-group
                                            input(type="checkbox" id="samsung" value="Samsung")
                                            label(for="samsung") Samsung (60)
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item2") Əməliyyat sistemi
                                |
                                |
                                div(class="collapse" id="filter-item2")
                                    .collapse-content
                                        .form-group
                                            input(type="checkbox" id="windows" value="Windows")
                                            label(for="windows") Windows
                                        .form-group
                                            input(type="checkbox" id="inux" value="Linux")
                                            label(for="inux") Linux
                                        .form-group
                                            input(type="checkbox" id="mac-os" value="Mac OS")
                                            label(for="mac-os") Mac OS
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item3") Prosessor tipi
                                |
                                |
                                div(class="collapse" id="filter-item3")
                                    .collapse-content
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item4") Ekran ölçüsü
                                |
                                |
                                div(class="collapse" id="filter-item4")
                                    .collapse-content
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item5") Əsas kamera
                                |
                                |
                                div(class="collapse" id="filter-item5")
                                    .collapse-content
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item6") Əməli yaddaş
                                |
                                |
                                div(class="collapse" id="filter-item6")
                                    .collapse-content
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item7") SIM kart sayı
                                |
                                |
                                div(class="collapse" id="filter-item7")
                                    .collapse-content
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item8") Funksiyalar
                                |
                                |
                                div(class="collapse" id="filter-item8")
                                    .collapse-content
                            // Filter Item
                            |
                            |
                            .filter-item
                                ="\n"
                                a(data-toggle="collapse" href="#filter-item9") Batareya tutumu
                                |
                                |
                                div(class="collapse" id="filter-item9")
                                    .collapse-content
                            // Filter Item
                            |
                            |
                        // Filters Group
                    // Col (Filters Wrapper)
                    |
                    |
                    .col-9.products-wrapper
                        .inline-filters.flex.hidden-575
                            ul.flex.left
                                li
                                    ="\n"
                                    a(href="#" class="active") Yeni məhsullar
                                li
                                    ="\n"
                                    a(href="#") Populyar məhsullar
                                li
                                    ="\n"
                                    a(href="#") Əvvəlcə bahalı
                                li
                                    ="\n"
                                    a(href="#") Əvvəlcə ucuz
                            |
                            |
                            ul.flex.right
                                li
                                    .form-group
                                        input(type="checkbox" value="Sale" id="sale")
                                        label(for="sale") Endirim
                                li
                                    .form-group
                                        input(type="checkbox" value="Stock" id="stock")
                                        label(for="stock") Aksiya
                        // inline Filters
                        |
                        |
                        .mobile-filters.visible-575
                            .form-group
                                select(name="category" class="custom-select" required)
                                    option(value hidden) Filter products by
                                    option(value="new") Yeni məhsullar
                                    option(value="popular") Populyar məhsullar
                                    option(value="expensive") Əvvəlcə bahalı
                                    option(value="cheap") Əvvəlcə ucuz
                        // Mobile Filters
                        |
                        |
                        .products-grid
                            .row
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color.active(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#" class="active")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#" class="preload")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image2.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Urban Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color.active(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color.active(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image2.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Urban Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color.active(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        .available-colors.flex
                                            .color.active(style="background: #313133")
                                            .color(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Battle Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                        ="\n"
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                                |
                                |
                                .col-md-4.col-sm-6
                                    .product-card
                                        .product-images
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image2.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                            ="\n"
                                            a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="category.html" class="category") Urban Dresses
                                        ="\n"
                                        a(href="product-inner.html" class="product-name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                        ="\n"
                                        .available-colors.flex
                                            .color(style="background: #313133")
                                            .color.active(style="background: #897e54")
                                            .color(style="background: #ad9656")
                                        |
                                        |
                                        .price-actions.flex
                                            .price
                                                .old 210.00 AZN
                                                .current 163.00 AZN
                                            |
                                            |
                                            .actions
                                                .add-to-favorite
                                                    ="\n"
                                                    a(href="#")
                                                        svg(width="19" height="17" xmlns="http://www.w3.org/2000/svg")
                                                            path(stroke="#000" fill-rule="evenodd" d="M18.5 5.169c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                                        ="\n"
                                                // Add To Favorite
                                            // Actions
                                    // Product Card
                                // Col
                        // Products Grid
                        |
                        |
                        .loaded-products.text-center
                            p 64 of 630 products found
                            |
                            |
                            a(href="#" class="load-more text-uppercase") Load More 
                        // Loaded Products && Load More
                    // Col (Products Wrapper)
        // Products Wrapper
    // Products Page (Category)
    |
    |
    include ../includes/subscribe.pug