extends ../layout/layout.pug

block content
    section.static-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Company
                        li
                            a(href="#") Return policy
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-lg-8
                    h1.page-title Return Policy
                    |
                    |
                    .page-desc
                        p Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is. It is always our aim to serve the best interests of our clients and continue providing the finest online trading experience in the industry.
                    |
                    |
                    .editor-body
                        p If you're interested in joining the FxPro team, please #[a(href="career.html") send your CV].
                    // Text Editor
                // Col
                |
                |
                .col-12
                    .white-panel
                        .panel-header
                            h3.panel-title Return Conditions
                        // Panel Header
                        |
                        |
                        .panel-body
                            p.panel-info-text Everything we do, from our continuous investment in technology to the ongoing expansion of our product suite to our client-centric philosophy, is a demonstration of how dynamic FxPro really is:
                            ul
                                li
                                    ="\n"
                                    strong Within 14 days
                                li
                                    ="\n"
                                    strong Product must not be Used
                                li
                                    ="\n"
                                    strong Other…
                                li
                                    ="\n"
                                    strong Other…
                    // Panel
                // Col
    // Static Page
    |
    |