extends ../layout/layout.pug

block content
    script.
        setTimeout(function() {
            $('#product-modal').modal('show');
        }, 2000);
    |
    |
    div(class="modal fade" id="product-modal")
        .modal-dialog.product-dialog
            .modal-content
                button(type="button" class="close close-modal" data-dismiss="modal")
                    svg(xmlns="http://www.w3.org/2000/svg" width="17" height="16")
                        g(fill="none" fill-rule="evenodd" class="hover-side" stroke="#000" stroke-linecap="round" stroke-width="1.5")
                            path(d="M1 1l14.656 13.609M15.656 1L1 14.609")
                // Close
                |
                |
                .modal-product.flex
                    .image.cover-center(style="background-image: url("+require("../../images/bnrs/image4.jpg")+")")
                    |
                    |
                    .info.flex
                        div
                            ="\n"
                            a(href="#" class="title text-uppercase") SO, WHAT’S A CREATOR?
                            p.subtitle Our #BERSHKASTYLE CREATORS are the super-stylish girls and guys that we handpick to inspire our community with their most amazing Bershka looks.
                            ="\n"
                            a(href="#" class="btn-yellow") Show Now
                // / 
    // Modal Product (Banner)
    |
    |
    section.sales-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Sales & Discounts
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-md-6
                    .sale-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/bnrs/image0.png"))
                                ="\n"
                        |
                        |
                        .sale-info
                            ="\n"
                            a(href="#" class="title") Smartfonlar stokunu əridirik!
                            ="\n"
                            span.date 15 iyun-15 avqust
                            ="\n"
                            .desc
                                p Yazın ən sərfəli kampaniyası Azercell-də! Azercell dükanlarında Xiaomi smartfonlarını alın, balansınıza 150 AZN-dək keşbək geri qayıtsın!
                            |
                            |
                            .countdown-wrapper.flex
                                .countdown.flex
                                    .text-center
                                        strong 65
                                        span GÜN
                                    .text-center
                                        strong 18
                                        span SAAT
                                    .text-center
                                        strong 36
                                        span DƏQİQƏ
                                |
                                |
                                ="\n"
                                a(href="#" class="more-details")
                                    | Ətraflı
                                    img(src=require("../../images/icons/link-arrow.svg"))
                // Col
                |
                |
                .col-md-6
                    .sale-block
                        .image
                            ="\n"
                            a(href="#")
                                ="\n"
                                img(src=require("../../images/bnrs/image1.png"))
                                ="\n"
                        |
                        |
                        .sale-info
                            ="\n"
                            a(href="#" class="title") Smartfonlar stokunu əridirik!
                            ="\n"
                            span.date 15 iyun-15 avqust
                            ="\n"
                            .desc
                                p Yazın ən sərfəli kampaniyası Azercell-də! Azercell dükanlarında Xiaomi smartfonlarını alın, balansınıza 150 AZN-dək keşbək geri qayıtsın!
                            |
                            |
                            .countdown-wrapper.flex
                                .countdown.flex
                                    .text-center
                                        strong 65
                                        span GÜN
                                    .text-center
                                        strong 18
                                        span SAAT
                                    .text-center
                                        strong 36
                                        span DƏQİQƏ
                                |
                                |
                                ="\n"
                                a(href="#" class="more-details")
                                    | Ətraflı
                                    img(src=require("../../images/icons/link-arrow.svg"))
                // Col
    // Sales Page
    |
    |