extends ../layout/layout.pug

block content
    section.account-orders.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") My Account
                        li
                            a(href="#") My Details
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-xl-10.offset-xl-1
                    .row
                        .col-md-5.account-sidebar-wrapper
                            .toggle-account-sidebar.visible-767
                            // Toggle Sidebar
                            |
                            |
                            .account-sidebar
                                .white-panel.user-panel
                                    .user-card.flex
                                        .thumb.flex
                                            span.text-uppercase fi
                                        |
                                        |
                                        .name
                                            p Hi,
                                            ="\n"
                                            strong Farid Ismayilov
                                    // User Card
                                // Panel
                                |
                                |
                                ul.sidebar-list
                                    li
                                        ="\n"
                                        a(href="orders.html")
                                            ="\n"
                                            img(src=require("../../images/icons/orders.svg"))
                                            | My Orders
                                            ="\n"
                                |
                                |
                                ul.sidebar-list
                                    li.active
                                        ="\n"
                                        a(href="user-info.html")
                                            ="\n"
                                            img(src=require("../../images/icons/user.svg"))
                                            | My Details
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="change-password.html")
                                            ="\n"
                                            img(src=require("../../images/icons/lock.svg"))
                                            | Change Password
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="#")
                                            ="\n"
                                            img(src=require("../../images/icons/marker.svg"))
                                            | Address Book
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/faq.svg"))
                                            | Need help?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/back.svg"))
                                            | How do I make a return?
                                            ="\n"
                                    li
                                        ="\n"
                                        a(href="static.html")
                                            ="\n"
                                            img(src=require("../../images/icons/plastic-card2.svg"))
                                            | Payment & Delivery
                                            ="\n"
                                |
                                |
                                ul.sidebar-list.font-lighter
                                    li
                                        ="\n"
                                        a(href="javascript:void(0)")
                                            ="\n"
                                            img(src=require("../../images/icons/logout.svg"))
                                            | Sign Out
                                            ="\n"
                            // Account Sidebar
                        // Col
                        |
                        |
                        .col-md-7
                            .white-panel.blank
                                h3.panel-title.primary
                                    ="\n"
                                    img(src=require("../../images/icons/user.svg"))
                                    | My Details
                                |
                                |
                            // Panel
                            |
                            |
                            .white-panel.change-user-info
                                form(action="#" method="POST")
                                    .form-group
                                        label Email address
                                        input(type="email" class="form-control" value="faridhamza.dev@gmail.com" required)
                                    |
                                    |
                                    .form-group
                                        label Firstname
                                        input(type="text" class="form-control" value="Farid" required)
                                    |
                                    |
                                    .form-group
                                        label Lastname
                                        input(type="text" class="form-control" value="Hamzayev" required)
                                    |
                                    |
                                    .form-group.birth-date
                                        label Date of birth
                                        select(name="day" class="custom-select" required)
                                            option(value="1") 1 
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 4 
                                            option(value="5") 5 
                                            option(value="6") 6 
                                            option(value="7") 7 
                                            option(value="8") 8 
                                            option(value="9") 9 
                                            option(value="10") 10 
                                            option(value="11") 11
                                            option(value="12") 12
                                            option(value="13") 13
                                            option(value="14") 14
                                            option(value="15") 15
                                            option(value="16") 16
                                            option(value="17") 17
                                            option(value="18" selected) 18
                                        |
                                        |
                                        select(name="month" class="custom-select" required)
                                            option(value="yan") Yanuary
                                            option(value="feb") February
                                            option(value="mar") March
                                            option(value="apr") April
                                            option(value="may") May
                                            option(value="june") June
                                            option(value="july" selected) July
                                        |
                                        |
                                        select(name="year" class="custom-select" required)
                                            option(value="1990") 1990
                                            option(value="1991") 1991
                                            option(value="1992") 1992
                                            option(value="1993") 1993
                                            option(value="1994" selected) 1994
                                            option(value="1995") 1995
                                            option(value="1996") 1996
                                            option(value="1997") 1997
                                            option(value="1998") 1998
                                            option(value="1999") 1999
                                            option(value="2000") 2000
                                    |
                                    |
                                    .form-group
                                        label Gender
                                        .genders.flex
                                            .gender
                                                input(type="radio" id="male" name="gender" value="male" checked)
                                                label(for="male") Male
                                            .gender
                                                input(type="radio" id="fermale" name="gender" value="fermale")
                                                label(for="fermale") Fermale
                                    |
                                    |
                                    button(class="btn-default submit-edit-info" disabled) Save Changes
                            // Panel (Change User Info)
                        // Col
                // Col (Wrapper)
    // Orders Page
    |
    |