extends ../layout/layout.pug

block content
    section.wishlist-page.pb-80
        .container-fluid
            .row
                .col-12
                    ul(class="breadcrumb")
                        li
                            a(href="#") Home
                        li
                            a(href="#") Saved items
        // Breadcrumb
        |
        |
        .container-fluid
            .row
                .col-12
                    .section-header.flex
                        h2.section-title Saved Items
                    // Section Header
                    |
                    |
                    .products-grid
                        .row
                            .col-xl-3.col-md-4.col-sm-6
                                .product-card
                                    .product-images
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                    ="\n"
                                    a(href="category.html" class="category") Battle Dresses
                                    ="\n"
                                    a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                    ="\n"
                                    .available-colors.flex
                                        .color.active(style="background: #313133")
                                        .color(style="background: #897e54")
                                        .color(style="background: #ad9656")
                                    |
                                    |
                                    .price-actions.flex
                                        .price
                                            .old 210.00 AZN
                                            .current 163.00 AZN
                                        |
                                        |
                                        .actions
                                            .delete-product
                                                ="\n"
                                                a(href="#")
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                        path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                    ="\n"
                                            // Delete product
                                        // Actions
                                // Product Card
                            // Col
                            |
                            |
                            .col-xl-3.col-md-4.col-sm-6
                                .product-card
                                    .product-images
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                    ="\n"
                                    a(href="category.html" class="category") Battle Dresses
                                    ="\n"
                                    a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                    ="\n"
                                    |
                                    |
                                    .price-actions.flex
                                        .price
                                            .old 210.00 AZN
                                            .current 163.00 AZN
                                        |
                                        |
                                        .actions
                                            .delete-product
                                                ="\n"
                                                a(href="#" class="preload")
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                        path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                    ="\n"
                                            // Delete product
                                        // Actions
                                // Product Card
                            // Col
                            |
                            |
                            .col-xl-3.col-md-4.col-sm-6
                                .product-card
                                    .product-images
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image2.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                                    ="\n"
                                    a(href="category.html" class="category") Urban Dresses
                                    ="\n"
                                    a(href="product-inner.html" class="product-name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                    ="\n"
                                    .available-colors.flex
                                        .color(style="background: #313133")
                                        .color.active(style="background: #897e54")
                                        .color(style="background: #ad9656")
                                    |
                                    |
                                    .price-actions.flex
                                        .price
                                            .old 210.00 AZN
                                            .current 163.00 AZN
                                        |
                                        |
                                        .actions
                                            .delete-product
                                                ="\n"
                                                a(href="#")
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                        path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                    ="\n"
                                            // Delete product
                                        // Actions
                                // Product Card
                            // Col
                            |
                            |
                            .col-xl-3.col-md-4.col-sm-6
                                .product-card
                                    .product-images
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                    ="\n"
                                    a(href="category.html" class="category") Battle Dresses
                                    ="\n"
                                    a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                    ="\n"
                                    .available-colors.flex
                                        .color.active(style="background: #313133")
                                        .color(style="background: #897e54")
                                        .color(style="background: #ad9656")
                                    |
                                    |
                                    .price-actions.flex
                                        .price
                                            .old 210.00 AZN
                                            .current 163.00 AZN
                                        |
                                        |
                                        .actions
                                            .delete-product
                                                ="\n"
                                                a(href="#")
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                        path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                    ="\n"
                                            // Delete product
                                        // Actions
                                // Product Card
                            // Col
                            |
                            |
                            .col-xl-3.col-md-4.col-sm-6
                                .product-card
                                    .product-images
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                    ="\n"
                                    a(href="category.html" class="category") Battle Dresses
                                    ="\n"
                                    a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                    ="\n"
                                    |
                                    |
                                    .price-actions.flex
                                        .price
                                            .old 210.00 AZN
                                            .current 163.00 AZN
                                        |
                                        |
                                        .actions
                                            .delete-product
                                                ="\n"
                                                a(href="#")
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                        path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                    ="\n"
                                            // Delete product
                                        // Actions
                                // Product Card
                            // Col
                            |
                            |
                            .col-xl-3.col-md-4.col-sm-6
                                .product-card
                                    .product-images
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image2.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                                    ="\n"
                                    a(href="category.html" class="category") Urban Dresses
                                    ="\n"
                                    a(href="product-inner.html" class="product-name") Urban Tactical Shorts FLEX11 - Nyco Ripstop
                                    ="\n"
                                    .available-colors.flex
                                        .color(style="background: #313133")
                                        .color.active(style="background: #897e54")
                                        .color(style="background: #ad9656")
                                    |
                                    |
                                    .price-actions.flex
                                        .price
                                            .old 210.00 AZN
                                            .current 163.00 AZN
                                        |
                                        |
                                        .actions
                                            .delete-product
                                                ="\n"
                                                a(href="#")
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                        path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                    ="\n"
                                            // Delete product
                                        // Actions
                                // Product Card
                            // Col
                            |
                            |
                            .col-xl-3.col-md-4.col-sm-6
                                .product-card
                                    .product-images
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image0.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                                    ="\n"
                                    a(href="category.html" class="category") Battle Dresses
                                    ="\n"
                                    a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                    ="\n"
                                    .available-colors.flex
                                        .color.active(style="background: #313133")
                                        .color(style="background: #897e54")
                                        .color(style="background: #ad9656")
                                    |
                                    |
                                    .price-actions.flex
                                        .price
                                            .old 210.00 AZN
                                            .current 163.00 AZN
                                        |
                                        |
                                        .actions
                                            .delete-product
                                                ="\n"
                                                a(href="#")
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                        path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                    ="\n"
                                            // Delete product
                                        // Actions
                                // Product Card
                            // Col
                            |
                            |
                            .col-xl-3.col-md-4.col-sm-6
                                .product-card
                                    .product-images
                                        ="\n"
                                        a(href="product-inner.html" class="image cover-center active" style="background-image: url("+require("../../images/products/image1.png")+")")
                                    ="\n"
                                    a(href="category.html" class="category") Battle Dresses
                                    ="\n"
                                    a(href="product-inner.html" class="product-name") Long Sleeve Tactical Shirt
                                    ="\n"
                                    |
                                    |
                                    .price-actions.flex
                                        .price
                                            .old 210.00 AZN
                                            .current 163.00 AZN
                                        |
                                        |
                                        .actions
                                            .delete-product
                                                ="\n"
                                                a(href="#")
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="11" height="15" viewBox="0 0 11 15")
                                                        path(fill="#000" fill-rule="nonzero" d="M10.457 1.376V2.79h-9.8V1.376H3.1l.724-.69h3.485l.724.69h2.425zM1.347 11.9V3.48h8.42v8.42c0 .382-.14.713-.421.993-.281.281-.612.421-.994.421h-5.59c-.382 0-.713-.14-.994-.42a1.359 1.359 0 0 1-.42-.994z")
                                                    ="\n"
                                            // Delete product
                                        // Actions
                                // Product Card
                            // Col
                    // Products Grid
                    |
                    |
    // Wishlist page
    |
    |