footer {
    padding: 60px 0 0 0;
    background: #181818;
    color: #fff;

    a {
        color: #fff;
    }

    ul {
        margin: 0 0 20px 0;
    }

    li {
        font-size: 2rem;
        font-family: "BaiJamjuree Medium", sans-serif;
        margin: 0 0 10px 0;

        a, span {
            font-size: 1.5rem;
            font-family: "BaiJamjuree Light", sans-serif;
            opacity: .65;
        }

        span {
            display: block;
        }

        &:first-child {
            margin: 0 0 22px;
        }
    }
}

.footer-top {
    padding: 0 0 30px 0;

    a:hover {
        color: #fff;
        text-decoration: underline;
    }

    .email-address {
        font-size: 1.8rem;
        margin: 0 0 25px 0;
        font-family: "BaiJamjuree Medium", sans-serif;
        
        img {
            margin: 0 10px 0 0;
        }
    }
}

.socials {
    li {
        margin: 0 10px 0 0 !important;

        &:last-child {
            margin: 0 !important;
        }
    }

    a {
        width: 40px;
        height: 40px;
        background: rgba(#fff, .1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        opacity: .5;
        transition: .2s ease;

        &:hover {
            opacity: 1;
        }
    }

    svg {
        max-width: 100%;
    }
}

.footer-bottom {
    font-family: "BaiJamjuree Light", sans-serif;
    padding: 18px 0;
    border-top: 2px solid rgba(#fff, .1);

    .flex {
        justify-content: space-between;
    }

    p {
        opacity: .5;
    }
}

.supported-payments {
    align-items: center;

    a {
        display: inline-block;

        &:not(:first-child) {
            margin: 0 0 0 18px;
        }
    }

    img {
        max-height: 28px;
    }
}

/* ***** -- media breakpoints ***** */
@media (max-width: 1367px) {
    footer {
        padding: 30px 0 0 0;
    
        li {
            font-size: 1.7rem;
            margin: 0 0 5px 0;
    
            a, span {
                font-size: 1.4rem;
            }
    
            &:first-child {
                margin: 0 0 10px;
            }
        }
    }

    .footer-top {
        padding: 0 0 10px 0;

        .email-address {
            font-size: 1.7rem;
            margin: 0 0 15px 0;
        }
    }    

}

@media (max-width: 575px) {
    footer {   
        li {
            font-size: 1.4rem;
        }
    }

    .footer-top {
        .email-address {
            font-size: 1.6rem;
        }
    }

    .footer-bottom {
        padding: 10px 0;
        font-size: 1.2rem;

        p {
            margin: 0 0 5px 0;
            width: 100%;
            text-align: center;
        }
    
        .flex {
            justify-content: center;
        }
    }
}