/* ***** -- header top ***** */
.header-top {
    background: #181818;
    font-family: "BaiJamjuree Medium", sans-serif;

    .col-12.flex {
        height: 40px;
        justify-content: space-between;
        align-items: center;
    }

    li {
        display: inline-block;
        margin: 0 20px 0 0;
    }

    a {
        color: rgba(#fff, .67);
        font-size: 1.3rem;
        transition: .2s ease;

        &:hover {
            color: #fff;
        }
    }
}

/* ***** -- header bottom ****** */
.menu-toggler {
    margin: 0 15px 0 0;
    height: 18px;

    button {
        border: none;
        position: relative;
        background: none;
        width: 26px;
        height: 100%;
    }

    span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        display: inline-block;
        height: 2px;
        width: 100%;
        background: #fff;
        transition: .2s ease;

        &:first-child {
            top: 0;
        }

        &:last-child {
            top: calc(100% - 2px);
        }
    }

    &.active {
        span {
            top: calc(50% - 1px);

            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}

.logo {
    width: 188px;
    margin-right: auto;
    
    a {
        display: block;
    }

    img {
        width: 100%;
    }
}

.logo-user {
    height: 100px;
    justify-content: space-between;
    align-items: center;

    a {
        color: #fff;
        font-size: 15px;
    }
}

.header-bottom {
    position: relative;
    background: #000;

    .user {
        height: 100%;

        ul {
            height: inherit;
        }

        li {
            display: inline-flex;
            align-items: center;
            padding: 0 29px;
            height: 100%;
            border-left: 1px solid #191919;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    a {
        position: relative;

        &.active,
        &:hover {
            svg path {
                fill: #ffbc25;
            }
        }
    }
}

.badge {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #ffbc25;
    color: #000;
    font-family: "BaiJamjuree Bold", sans-serif;
    font-size: 1.1rem;
}

.dropdown.account {
    svg {
        margin: 0 9px 0 0;
    }

    a:hover {
        path {
            stroke: #ffbc25;
        }
    }

    .dropdown-menu {
        width: 340px;
        right: 0 !important;
        left: auto !important;
        top: 34px !important;
        transform: none !important;
        padding: 0;
        border-radius: 0;
    }

    .menu-user {
        margin: 0;
    }

    li {
        border-left: none;
        width: 100%;
    }
}

/* ***** -- search field ****** */
.search-field {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;

    * {
        height: inherit;
    }

    .form-group {
        margin: 0;
    }

    .form-control {
        height: inherit;
        border: none;
        background: none;
        color: #fff;
        text-align: center;
        font-size: 2.4rem;
        font-family: "BaiJamjuree SemiBold", sans-serif;
    }

    .close-search-field {
        position: absolute;
        top: 0;
        right: 15px;
        height: 100%;
        background: none;
        border: none;
        padding: 0 5px;
        opacity: .5;
        transition: .2s ease;

        img {
            width: 1.8rem;
            height: auto;
        }

        &:hover {
            opacity: 1;
        }
    }
}

/* ***** -- search results ***** */
.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 420px;
    overflow-y: auto;
    padding: 35px 0;
    background: #fff;
    z-index: 30;
    display: none;

    &.active {
        display: block;
    }

    .inline-product {
        padding: 0 0 14px 0;
        margin: 0 0 14px 0;
        border-bottom: 2px solid #ededed;
        
        &:last-child {
            margin: 0;
        }
    }
}

/* ***** -- main menu ***** */
.main-menu {
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    z-index: 10;

    ul.flex {
        > li {
            display: inline-flex;
            align-items: center;
            font-size: 1.7rem;
            font-family: "BaiJamjuree Medium", sans-serif;
            color: #000;
            height: 78px;
            padding: 0 35px;
            border-right: 2px solid #f3f3f3;
            transition: .2s ease;
            cursor: pointer;
            transition-property: background, box-shadow;
    
            &:hover {
                background: #f8f8f8;
                box-shadow: inset 0 5px 0 #ffbc25;

                .sub-menu {
                    animation: showSubmenu .3s forwards;
                }
            }
    
            &:first-child {
                border-left: 2px solid #f3f3f3;
            }
        }   
    }
}

/* ***** -- submenu ***** */
.sub-menu {
    position: absolute;
    top: 100%;
    left: 12px;
    width: 950px;
    padding: 30px 40px;
    border: 1px solid rgba(#000, .1);
    background: #fff;
    visibility: hidden;
    cursor: default;

    .sub-content.with-bnr {
        .sub-links {
            width: calc(100% - 475px);

            ul {
                width: 50%;
            }
        }
    }

    .sub-links {
        width: 100%;

        ul {
            width: 25%;
            padding-right: 15px;

            &:last-child {
                padding: 0;
            }
        }

        li {
            margin: 0 0 8px 0;

            &:last-child {
                margin: 0;
            }
        }

        a {
            font-size: 1.7rem;
            font-family: "BaiJamjuree Medium", sans-serif;
            color: #000;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .sub-bnrs {
        width: 460px;
        justify-content: space-between;

        a {
            display: block;
            width: 225px;
            height: 150px;
        }
    }
}

@keyframes showSubmenu {
    from {
        transform: translateY(20px);
        visibility: hidden;
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}

/* ***** -- media breakpoints ***** */
@media (max-width: 1367px) {
    /* ***** -- header bottom ***** */
    .header-bottom {
        .user {
            li {
                padding: 0 25px;
            }
        }
    }

    .logo-user {
        height: 85px;
    }

    /* ***** -- main menu ***** */
    .main-menu {
        ul.flex {
            > li {
                font-size: 1.6rem;
                height: 65px;
                padding: 0 28px;
    
                &:hover {
                    box-shadow: inset 0 3px 0 #ffbc25;
                }
            }
        }
    }

    .sub-menu {
        .sub-links {
            a {
                font-size: 1.6rem;
            }
        }
    }

}

@media (max-width: 1024px) {
    .content {
        margin-top: 125px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
    }
}

@media (max-width: 767px) {
    .content {
        margin-top: 105px;
    }

    /* ***** -- header top ***** */
    .header-top {
        .col-12.flex {
            height: 35px;
        }
    
        li {
            margin: 0 6px 0 0;
        }
    
        a {
            font-size: 1.1rem;
        }
    }

    /* ***** -- header bottom ***** */
    .header-bottom {
        .user {
            li {
                padding: 0 20px;
            }
        }
    }

    .logo {
        width: 160px;
    }

    .logo-user {
        height: 70px;
    }

    .dropdown.account {
        svg {
            margin: 0 -5px 0 0;
            
            + span {
                display: none;
            }
        }
    }
}

@media (max-width: 575px) {
    .content {
        margin-top: 65px;
    }

    /* ***** -- header bottom ***** */
    .menu-toggler {
        margin: -2px 8px 0 0;
        height: 16px;

        button {
            width: 22px;
        }
    }

    .header-bottom {
        .user {
            margin: 0 -9px 0 0;

            li {
                padding: 0 10px;
                border: none;

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }

    .logo {
        width: 140px;
    }

    .logo-user {
        height: 65px;
    }

    .badge {
        top: -3px;
        right: -6px;
        width: 13px;
        height: 13px;
        font-size: 8px;
    }

    /* ***** -- search results ***** */
    .search-results {
        padding: 20px 0;
    }

}