.price {
    .old {
        font-size: 1.4rem;
        text-decoration: line-through;
        opacity: .3;
    }

    .current {
        font-size: 2rem;
        font-family: "BaiJamjuree Bold", sans-serif;
    }
}

/* ***** -- default product ***** */
.product-card {
    padding: 40px 35px;
    background: #fff;
    display: flex;
    flex-direction: column;

    a {
        display: block;
        font-family: "BaiJamjuree Medium", sans-serif;
    }

    .product-images {
        height: 240px;
        padding: 10px 0;
        margin: 0 0 30px 0;
    }

    .image {
        height: 100%;
        background-size: contain;
        display: none;

        &.active {
            display: block;
        }
    }

    .category {
        font-size: 1.5rem;
        color: rgba(#000, .3);
    }

    .product-name {
        font-size: 18px;
        line-height: 23px;
        color: #000;
        margin: 8px 0 25px 0;
    }

    .available-colors {
        margin: 0 0 45px 0;

        .color {
            width: 14px;
            height: 14px;
            margin: 0 12px 0 0;
            cursor: pointer;

            &.active {
                box-shadow: 0 0 0 1px #fff, 0 0 0 2px #000;
            }
        }
    }

    .price-actions {
        margin-top: auto;
        justify-content: space-between;
        align-items: center;
    }

    .price {
        position: relative;
    }

    .old {
        position: absolute;
        top: -20px;
        left: 0;
        font-family: "BaiJamjuree Medium", sans-serif;
    }

    .actions {
        display: flex;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            background: #e5e5e5;

            svg {
                transform: scale(1.1) translateY(1px);
            }

            &:hover,
            &.active {
                path {
                    fill: #353535;
                }
            }
        }

        path {
            fill: transparent;
            transition: .2s ease;
        }

        .delete-product {
            a {
                &:hover,
                &.active {
                    path {
                        fill: #000;
                    }
                }
            }

            svg {
                transform: scale(1.5);
            }

            path {
                fill: #353535;
            }
        }
    }
}

/* ***** -- inline product ***** */
.inline-product {
    justify-content: space-between;

    a {
        display: block;
    }

    .image {
        width: 60px;
        height: 60px;
        padding: 6px 0;
        border: 1px solid #e5e5e5;

        a {
            height: 100%;
            background-size: auto 95%;
        }
    }

    .info {
        font-family: "BaiJamjuree Medium", sans-serif;
        width: calc(100% - 60px);
        padding: 0 0 0 15px;
    }

    .name {
        font-size: 1.6rem;
        color: #000 !important;
        margin: 0 0 3px 0;
    }

    .price {
        align-items: center;
    }

    .current {
        font-size: 1.5rem;
        margin: 0 12px 0 0;
    }
}

/* ***** -- cart product ***** */
.cart-product {
    justify-content: space-between;
    background: #fff;

    a {
        display: block;
        color: #000;
    }

    .image {
        width: 100px;
        height: 125px;
        padding: 18px 15px;
        border: 1px solid rgba(#000, .2);

        a {
            height: 100%;
            background-size: contain;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        font-family: "BaiJamjuree Medium", sans-serif;
        width: calc(100% - 100px);
        padding: 0 0 0 20px;
    }

    .price-actions {
        justify-content: space-between;
        align-items: center;
    }

    .price {
        align-items: center;

        .current {
            margin: 0 15px 0 0;
        }
    
        .old {
            font-size: 1.6rem;
        }
    }

    .name {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin: 5px 0 15px 0;
    }

    .product-params {
        font-size: 1.5rem;
        line-height: 1.7rem;
        font-family: "BaiJamjuree Regular", sans-serif;
        margin: auto 0 2px 0;

        .param {
            padding: 0 13px 0 0;
            margin: 0 13px 0 0;
            border-right: 1px solid #e0e0e0;

            &:last-child {
                padding: 0;
                margin: 0;
                border: none;
            }
        }
    }

}

@media (max-width: 1200px) {
    /* ***** -- product card ***** */
    .product-card {
        padding: 25px 20px;
    
        .product-images {
            height: 210px;
        }
    
        .product-name {
            margin: 6px 0 20px 0;
        }

        .old {
            font-size: 1.3rem;
            top: -17px;
        }

        .current {
            font-size: 1.8rem;
        }
    
        .available-colors {
            margin: 0 0 30px 0;
        }
    
        .actions {
            a {
                width: 40px;
                height: 40px;

                svg {
                    transform: none;
                }
            }
        }
    }

    /* ***** -- cart product ****** */
    .cart-product {
        .image {
            width: 80px;
            height: 110px;
            padding: 15px 12px;
        }
    
        .info {
            width: calc(100% - 80px);
            padding: 0 0 0 15px;
        }
    
        .price {
            .current {
                font-size: 1.6rem;
            }
        
            .old {
                font-size: 1.4rem;
            }
        }

        .name {
            font-size: 1.6rem;
            line-height: 2rem;
            margin: 5px 0 10px 0;
        }
    
        .product-params {
            font-size: 1.4rem;
            line-height: 1.6rem;
    
            .param {
                padding: 0 7px 0 0;
                margin: 0 7px 0 0;
            }
        }
    }

}

@media (max-width: 480px) {
    /* ***** -- inline product ***** */
    .inline-product {
        .image {
            width: 50px;
            height: 50px;
        }

        .info {
            width: calc(100% - 50px);
        }

        .name {
            font-size: 1.5rem;
        }

        .current {
            font-size: 1.4rem;
        }

        .old {
            font-size: 1.3rem;
        }
    }

    /* ***** -- cart product ****** */
    .cart-product {
        .image {
            width: 100%;
            height: 200px;
        }
    
        .info {
            width: 100%;
            padding: 15px 0 0 0;
        }

        .name {
            margin: 10px 0 15px 0;
        }
    }

}