.side-menu {
    position: fixed;
    top: 125px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    background: #fff;
    z-index: 120;
    transition: .2s ease;

    &.active {
        height: calc(100vh - 125px);
    }

    .side-menu-links {
        padding: 0 25px;
        
        a {
            display: block;
            font-size: 1.4rem;
            font-family: "BaiJamjuree Bold", sans-serif;
            padding: 15px 0;
            color: #000;
            text-transform: uppercase;
        }

        > li {
            border-bottom: 1px solid rgba(#000, .1);

            &:first-child {
                margin: 5px 0 0 0;
            }

            a[data-toggle="collapse"] {
                &:after {
                    top: 21px;
                }
            }

            ul {
                padding-left: 20px;
            }

            li {
                a {
                    padding: 10px 0;
                }

                &:first-child {
                    margin: -5px 0 0 0;
                }

                &:last-child {
                    margin: 0 0 5px 0;
                }
            }
        }
    }
}

.menu-user {
    margin: 20px 0 0 0;

    a {
        transition: opacity .2s ease;
    }

    .name-logout {
        font-size: 1.6rem;
        padding: 13px 30px;
        background: #f4f4f4;

        strong {
            font-family: "BaiJamjuree Bold", sans-serif;
        }

        a {
            color: rgba(#000, .5);
            margin-left: 20px;
        }
    }

    ul {
        padding: 0 20px;

        li {
            padding: 15px 10px !important;
            border-bottom: 1px solid rgba(#000, .1);

            &:last-child {
                border: none;
            }
        }

        a {
            display: inline-flex;
            align-items: center;
            font-family: "BaiJamjuree Medium", sans-serif;
            font-size: 1.7rem;
            color: #000;

            span {
                margin: 0 0 0 10px;
            }

            &:hover {
                opacity: .5;
            }
        }
    }
}

.side-menu-bottom {
    padding: 20px;
    background: #000;

    a {
        color: #fff;
    }

    .flex {
        justify-content: space-between;
    }

    li {
        display: block;
        margin: 0 0 3px 0;

        a {
            font-size: 1.3rem;
            line-height: 1.6rem;
        }
    }
}

.content-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105vh;
    background: rgba(#000, .8);
    z-index: 105;
    display: none;
}

@media (max-width: 767px) {
    .side-menu {
        top: 105px;
        
        &.active {
            height: calc(100vh - 105px);
        }
    }
}

@media (max-width: 575px) {
    .side-menu {
        top: 65px;
        
        &.active {
            height: calc(100vh - 65px);
        }
    }
}
