header.header
    .header-top.hidden-575
        .container-fluid
            .row
                .col-12.flex
                    ul
                        li
                            ="\n"
                            a(href="static.html") About Us
                        li
                            ="\n"
                            a(href="static.html") For Corporate Clients
                        li
                            ="\n"
                            a(href="static.html") Payment & Delivery
                        li
                            ="\n"
                            a(href="faq.html") FAQ
                    |
                    |
                    .dropdown.langs
                        ="\n"
                        a(href="#" class="dropdown-toggle" role="button" id="langs" data-toggle="dropdown") EN
                        |
                        |
                        .dropdown-menu
                            ="\n"
                            a(href="#" class="dropdown-item") AZ
                            ="\n"
                            a(href="#" class="dropdown-item") RU
                    // Language switcher
                // Col
    // Header top
    |
    |
    .header-bottom
        .container-fluid
            .row
                .col-12
                    .logo-user.flex
                        .logo
                            ="\n"
                            a(href="index.html")
                                ="\n"
                                img(src=require("../../images/logo.svg"))
                                ="\n"
                        // Logo
                        |
                        |
                        .user
                            ul.flex
                                li
                                    ="\n"
                                    a(href="javascript:void(0)" class="trigger-search")
                                        svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20")
                                            path(fill="#FFF" fill-rule="evenodd" stroke="#000" stroke-width=".2" d="M18.8 17.754a.75.75 0 0 1 .2.523.75.75 0 0 1-.2.522.75.75 0 0 1-.523.201.681.681 0 0 1-.502-.2l-4.139-4.14c-1.433 1.18-3.073 1.769-4.922 1.769-2.13 0-3.947-.754-5.454-2.26C1.753 12.662 1 10.844 1 8.714s.753-3.947 2.26-5.454C4.767 1.753 6.585 1 8.714 1c2.13 0 3.948.753 5.455 2.26 1.506 1.507 2.26 3.325 2.26 5.454 0 1.849-.59 3.49-1.768 4.922l4.138 4.118zM11.144 14.5a6.33 6.33 0 0 0 1.999-1.356 6.33 6.33 0 0 0 1.356-1.999 6.2 6.2 0 0 0 .482-2.43 6.2 6.2 0 0 0-.482-2.432 6.33 6.33 0 0 0-1.356-1.998 6.33 6.33 0 0 0-1.999-1.356 6.2 6.2 0 0 0-2.43-.483 6.2 6.2 0 0 0-2.432.483 6.33 6.33 0 0 0-1.998 1.356 6.057 6.057 0 0 0-1.336 1.998 5.985 5.985 0 0 0-.503 2.431c0 .857.168 1.668.503 2.431.308.75.753 1.416 1.336 1.999A6.33 6.33 0 0 0 6.283 14.5a6.2 6.2 0 0 0 2.431.482 6.2 6.2 0 0 0 2.431-.482z")
                                        ="\n"
                                li
                                    ="\n"
                                    a(href="wishlist.html" class="active")
                                        svg(xmlns="http://www.w3.org/2000/svg" width="19" height="17")
                                            path(fill="#fff" d="M17.214 5.169c0-2.863-1.908-3.465-3.515-3.465-1.497 0-3.184 1.641-3.707 2.273-.24.295-.743.295-.984 0-.523-.632-2.21-2.273-3.707-2.273-1.607 0-3.515.602-3.515 3.465 0 1.865 1.858 3.597 1.878 3.618L9.5 14.493l5.826-5.696c.03-.03 1.888-1.763 1.888-3.628zm1.286 0c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z")
                                        ="\n"
                                        span.badge 2
                                li
                                    ="\n"
                                    a(href="cart.html")
                                        svg(xmlns="http://www.w3.org/2000/svg" width="18" height="18")
                                            g(fill="#FFF")
                                                path(d="M4.18 11.281l.66-.084 12.636-1.602A.6.6 0 0 0 18 9V3a.6.6 0 0 0-.6-.6H3.927L3.59.496A.6.6 0 0 0 3 0H.6a.6.6 0 1 0 0 1.2h1.897l1.567 8.886-.034.004a1.862 1.862 0 0 0 .23 3.71H17.4a.6.6 0 1 0 0-1.2H4.26a.663.663 0 1 1-.08-1.319zM16.8 3.6v4.871L5.256 9.935 4.14 3.6H16.8z")
                                                path(d="M6.6 14.4c.993 0 1.8.807 1.8 1.8S7.593 18 6.6 18s-1.8-.807-1.8-1.8.807-1.8 1.8-1.8zm0 1.2a.6.6 0 1 0 .001 1.201A.6.6 0 0 0 6.6 15.6z" opacity=".9")
                                                path(d="M15 14.4c.993 0 1.8.807 1.8 1.8S15.993 18 15 18s-1.8-.807-1.8-1.8.807-1.8 1.8-1.8zm0 1.2a.6.6 0 1 0 .001 1.201A.6.6 0 0 0 15 15.6z")
                                        ="\n"
                                li.hidden-575
                                    .dropdown.account
                                        ="\n"
                                        a(href="#" class="dropdown-toggle" role="button" id="account" data-toggle="dropdown")
                                            svg(xmlns="http://www.w3.org/2000/svg" width="17" height="20")
                                                path(d="M8.818 1a4.15 4.15 0 0 1 4.15 4.15c0 2.316-1.834 4.199-4.15 4.199-2.317 0-4.15-1.883-4.15-4.199A4.15 4.15 0 0 1 8.818 1zm0 1.11c-1.69 0-3.04 1.4-3.04 3.04a3.028 3.028 0 0 0 3.04 3.04 3.028 3.028 0 0 0 3.04-3.04 3.028 3.028 0 0 0-3.04-3.04zm0 8.541c4.343 0 7.866 3.62 7.77 7.915 0 .53-1.11.53-1.11 0 .047-3.716-2.896-6.805-6.66-6.805-3.764 0-6.708 3.089-6.66 6.805.048.53-1.11.53-1.11 0-.096-4.295 3.427-7.915 7.77-7.915z" fill="#FFF" stroke="#FFF" stroke-width=".3")
                                            ="\n"
                                            span Your Account
                                            ="\n"
                                        |
                                        |
                                        .dropdown-menu
                                            .menu-user
                                                .name-logout
                                                    ="\n"
                                                    strong Hi Ahmad
                                                    ="\n"
                                                    a(href="#") Sign Out
                                                // Name
                                                |
                                                |
                                                ul
                                                    li
                                                        ="\n"
                                                        a(href="#")
                                                            img(src=require("../../images/icons/user.svg"))
                                                            ="\n"
                                                            span My Account
                                                            ="\n"       
                                                    li
                                                        ="\n"
                                                        a(href="#")
                                                            img(src=require("../../images/icons/orders.svg"))
                                                            ="\n"
                                                            span My orders
                                                            ="\n"
                                        // Dropdown
                        // User
                    // (Logo / user / cart) wrapper
                // Col
        // Container
        |
        |
        .search-field
            .container-fluid
                .row
                    .col-12
                        form(action="#" method="GET")
                            .form-group
                                input(type="text" class="form-control" name="search" placeholder="Search" autocomplete="off")
                            |
                            |
                            button(type="button" class="close-search-field")
                                ="\n"
                                img(src=require("../../images/icons/times.svg"))
        // Search Field
        |
        |
        .search-results(class-to-show="active")
            .container-fluid
                .row
                    .col-12
                        .inline-product.flex
                            .image
                                ="\n"
                                a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image0.png")+")")
                            |
                            |
                            .info
                                ="\n"
                                a(href="product-inner.html" class="name") Long Sleeve Tactical Shirt
                                .price.flex
                                    .current 255.00 AZN
                                    .old 210.00 AZN
                        // Product Item
                        |
                        |
                        .inline-product.flex
                            .image
                                ="\n"
                                a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image1.png")+")")
                            |
                            |
                            .info
                                ="\n"
                                a(href="product-inner.html" class="name") Long Sleeve Tactical Shirt
                                .price.flex
                                    .current 255.00 AZN
                                    .old 210.00 AZN
                        // Product Item
                        |
                        |
                        .inline-product.flex
                            .image
                                ="\n"
                                a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image2.png")+")")
                            |
                            |
                            .info
                                ="\n"
                                a(href="product-inner.html" class="name") Long Sleeve Tactical Shirt
                                .price.flex
                                    .current 255.00 AZN
                                    .old 210.00 AZN
                        // Product Item
                        |
                        |
                        .inline-product.flex
                            .image
                                ="\n"
                                a(href="product-inner.html" class="cover-center" style="background-image: url("+require("../../images/products/image3.png")+")")
                            |
                            |
                            .info
                                ="\n"
                                a(href="product-inner.html" class="name") Long Sleeve Tactical Shirt
                                .price.flex
                                    .current 255.00 AZN
                                    .old 210.00 AZN
                        // Product Item
        // Search Results
        |
        |
    // Header bottom
// Header
|
|