doctype html
html(lang="en")
    head
        title Palladium E-commerce
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
    body
        ="\n"
        include simple-header.pug
        |
        |
        main.content
            block content
        |
        |
        script(src="js/jquery.min.js")