.about-page {
    h1, h2, h3, h4, h5, h6, p, a, strong {
        max-width: 872px;
    }

    .page-title {
        font-size: 5rem;
        margin: 0 0 40px 0;
    }

    .page-desc {
        font-family: "BaiJamjuree Regular", sans-serif;
    }

    .block-title {
        margin: 0 0 20px;
    }

    .text-wrapper {
        margin: 100px 0 0 0;
    }

    .images-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0 0 0;

        img {
            margin-bottom: 24px;
        }

        &.img-2x {
            img {
                width: calc(50% - 12px);
            }
        }

        &.img-3x {
            img {
                width: calc(33.333333% - 12px);
            }
        }
    }
}

.shop-stats {
    margin: 100px 0 0 0;

    .stat-item {
        position: relative;
        width: 25%;
        padding: 20px 40px 0 40px;
    }

    strong {
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
    }

    .num {
        font-size: 7rem;
        font-family: "BaiJamjuree Bold", sans-serif;
    }

    .desc {
        font-size: 1.8rem;
        line-height: 2.3rem;
        max-width: 250px;
        margin: 20px auto 0 auto;
        opacity: .7;
    }
}

@media (max-width: 1367px) {
    .shop-stats {    
        .stat-item {
            padding: 20px 30px 0 30px;
        }
    
        .num {
            font-size: 5.6rem;
        }
    
        .desc {
            margin: 15px auto 0 auto;
        }
    }
}

@media (max-width: 991px) {
    .about-page {
        .page-title {
            font-size: 3.4rem;
            margin: 0 0 20px 0;
        }

        .text-wrapper {
            margin: 80px 0 0 0;
        }
    }

    .shop-stats {
        margin: 80px 0;

        .stat-item {
            padding: 15px 20px 0 20px;
        }

        strong {
            font-size: 1.4rem;
            top: -5px;
        }
    
        .num {
            font-size: 4rem;
        }
    
        .desc {
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
    }
}

@media (max-width: 767px) {
    .shop-stats {
        margin: 60px 0;

        .stat-item {
            width: 50%;
            margin: 0 0 40px 0;
        }
    }

    .about-page {
        .text-wrapper {
            margin: 40px 0 0 0;
        }
    }

}

@media (max-width: 575px) {
    .about-page {
        .page-desc {
            margin: 0 0 30px 0;
        }

        .images-wrapper {
            margin: 30px 0 0 0;

            img {
                margin-bottom: 12px;
            }
    
            &.img-2x {
                img {
                    width: calc(50% - 6px);
                }
            }
    
            &.img-3x {
                img {
                    width: calc(50% - 6px);
                }
            }
        }
    }

}

@media (max-width: 480px) {
    .shop-stats {
        margin: 40px 0;

        .stat-item {
            width: 100%;
        }
    }

    .about-page {
        .images-wrapper {
            &.img-2x {
                img {
                    width: 100%;
                }
            }
    
            &.img-3x {
                img {
                    width: 100%;
                }
            }
        }
    }

}