/* ***** -- user card ***** */
.user-card {
    align-items: center;
    font-family: "BaiJamjuree Bold", sans-serif;

    .thumb {
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        font-size: 2.8rem;
        color: #fff;
        background: #000;
        border-radius: 50%;
    }

    .name {
        width: calc(100% - 80px);
        padding: 0 0 0 20px;
        font-size: 2rem;
        line-height: 2.4rem;

        p {
            font-family: "BaiJamjuree Regular", sans-serif;
            font-size: 2rem;
        }
    }
}

/* ***** -- sidebar ***** */
.account-sidebar {
    .white-panel {
        margin: 0 0 10px 0;
    }
}

ul.sidebar-list {
    margin: 0 0 10px 0;
    background: #fff;

    li {
        position: relative;

        &.active {
            a {
                box-shadow: 5px 0 0 0 #ffbb24 inset;
            }
        }

        &:after {
            content: "";
            height: 1px;
            position: absolute;
            bottom: 0;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid rgba(#000, .15);
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        img {
            margin: 0 20px 0 0;
            max-width: 22px;
        }
    }

    a {
        display: flex;
        align-items: center;
        font-family: "BaiJamjuree SemiBold", sans-serif;
        font-size: 1.7rem;
        color: #000;
        padding: 21px 30px;
        transition: .2s ease;

        &:hover {
            box-shadow: 5px 0 0 0 #ffbb24 inset;
        }
    }

    &.font-lighter {
        a {
            font-family: "BaiJamjuree Regular", sans-serif;
        }
    }
}

.toggle-account-sidebar {
    position: absolute;
    top: calc(50% - 17px);
    right: -34px;
    width: 34px;
    height: 32px;
    z-index: 10;
    border-radius: 0 3px 3px 0;
    background: #fff url("../images/icons/bars.svg") no-repeat center;
    background-size: auto 70%;
    border: 1px solid #e5e5e5;
    border-left: 0;
}

/* ***** -- change user info ***** */
.form-group.birth-date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 458px;

    .custom-select {
        width: calc(33.333333% - 10px);
    }
}

.genders {
    .gender {
        margin: 0 30px 0 0;
    }
}

/* ***** -- change password ***** */
.white-panel {
    form {
        .btn-default {
            height: 60px;
            width: 100%;
            max-width: 458px;
            margin: 20px 0 0 0;
            background: #ffbb24;
            z-index: 2;
            transition: .2s ease;

            &:disabled {
                background: #e0e0e0;
                color: #fff !important;
            }
        }
    }
}

@media (max-width: 991px) {
    .white-panel.user-panel {
        padding: 20px;
    }

    .user-card {
        .thumb {
            width: 50px;
            height: 50px;
            font-size: 2rem;
        }
    
        .name {
            width: calc(100% - 50px);
            padding: 0 0 0 15px;
            font-size: 1.8rem;
            line-height: 2.2rem;
    
            p {
                font-size: 1.8rem;
            }
        }
    }

    /* ***** -- account sidebar ***** */
    ul.sidebar-list {
        li {
            &:after {
                left: 20px;
                right: 20px;
            }

            img {
                margin: 0 15px 0 0;
            }
        }

        a {
            font-size: 1.6rem;
            padding: 15px 20px;
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- account sidebar ***** */
    .account-sidebar-wrapper {
        flex: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        max-width: none;
        height: 100vh;
        padding: 0;
        background: #f8f8f8;
        transform: translateX(-280px);
        z-index: 110;
        transition: transform .2s ease;

        &.active {
            transform: translateX(0);
        }
    }

    .account-sidebar {
        height: 100%;
        overflow-y: auto;
    }
}