.account-orders {
    .white-panel:not(.user-panel) {
        padding: 40px;

        .total {
            margin: 0 0 24px 0;
        }
    }

    .payment-method {
        font-size: 1.5rem;

        .payment-icon {
            text-align: center;
            height: 28px;
            width: 44px;
            padding: 2px 7px;
            margin: 0 15px 0 0;
            background: #f4f4f4;
        }
    }
}

.order-panel {
    .address-book {
        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }
}

@media (max-width: 991px) {
    .account-orders {
        .white-panel:not(.user-panel) {
            padding: 30px;
        }
    }
}