.white-panel.addresses-panel {
    .divider {
        margin: 38px 0;
    }

    .btn-yellow {
        height: 60px;
        width: 100%;
        max-width: 450px;
        font-size: 1.8rem;
    }
}

.white-panel.add-address {
    .divider {
        margin: 40px 0;
    }
}

.address-book {
    position: relative;
    color: rgba(#000, .8);
    padding: 0 75px 0 0;

    p {
        font-size: 1.7rem;
        line-height: 3rem;
    }

    .actions {
        position: absolute;
        top: 0;
        right: 0;

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            width: 36px;
            background: #f8f8f8;
            margin: 0 0 0 10px;

            &:first-child {
                margin: 0;
            }

            img {
                opacity: .5;
                transition: .2s ease;
            }

            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }

    .is-default {
        margin: 25px 0 0 0;

        p {
            opacity: .5;
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 575px) {
    .white-panel.addresses-panel {
        .btn-yellow {
            height: 52px;
            font-size: 1.7rem;
        }
    }

    .address-book {
        p {
            font-size: 1.5rem;
        }
    
        .actions {
            a {
                height: 34px;
                width: 34px;
                margin: 0 0 0 5px;
    
                &:first-child {
                    margin: 0;
                }
            }
        }
    
        .is-default {
            margin: 20px 0 0 0;
    
            p {
                font-size: 1.4rem;
            }
        }
    }

}