.auth-wrapper {
    width: 100%;
    max-width: 650px;
    padding: 100px 12px 50px 12px;
    margin: 0 auto;
    font-family: "BaiJamjuree Bold", sans-serif;

    a {
        color: #000;
    }

    .nav {
        width: 100%;
        text-transform: uppercase;
        margin: 0 0 4px 0;
        background: #fff;

        li {
            width: 50%;

            &.active {
                a {
                    background: #ffbb24;
                    border: solid 1px rgba(#000, .1);
                }
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.7rem;
            text-align: center;
            padding: 24px 10px;
        }
    }

    .form-group {
        font-family: "BaiJamjuree Regular", sans-serif;
    }
}

.auth-content {
    padding: 45px 40px 55px 40px;
    background: #fff;

    .block-title {
        font-size: 2.4rem;
        width: 100%;
        text-align: center;
    }

    form {
        max-width: 450px;
        margin: 0 auto;
    }

    .btn-yellow {
        height: 60px;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .forgot-password {
        font-size: 1.5rem;
        display: block;
        text-align: center;
        margin: 40px 0 0 0;
    }

    .auth-divider {
        position: relative;
        text-align: center;
        margin: 40px 0;

        span {
            position: relative;
            font-size: 19px;
            padding: 0 20px;
            background: #fff;
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background: rgba(#000, .2);
        }
    }

    .info-text {
        font-size: 1.5rem;
        font-family: "BaiJamjuree Regular", sans-serif;
        max-width: 100%;
        margin: 40px 0;
        opacity: 1;
    }
}

.auth-with-socials {
    justify-content: space-between;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        width: calc(50% - 5px);
        padding: 18px 10px;
        margin: 0 0 40px 0;
        border: 1px solid rgba(#000, .2);

        img {
            width: 24px;
            margin: 0 10px 0 0;
        }
    }

    > p {
        font-size: 1.4rem;
        font-family: "BaiJamjuree Regular", sans-serif;
    }
}

@media (max-width: 1280px) {
    .auth-wrapper {
        padding: 50px 12px 30px 12px;
    
        .nav {
            a {
                padding: 18px 10px;
            }
        }
    }

    .auth-content {
        padding: 40px 30px;
    }

}

@media (max-width: 575px) {
    .auth-wrapper {
        padding: 12px;
    
        .nav {
            a {
                padding: 14px 10px;
            }
        }
    }

    .auth-content {
        padding: 30px 20px;
        background: #fff;
    
        .block-title {
            font-size: 2rem;
        }
    
        .btn-yellow {
            height: 52px;
        }
    
        .forgot-password {
            font-size: 1.5rem;
            display: block;
            text-align: center;
            margin: 30px 0 0 0;
        }
    
        .auth-divider {
            margin: 30px 0;
        }

        .info-text {
            margin: 20px 0;
        }
    }
    
    .auth-with-socials {    
        a {
            font-size: 1.4rem;
            width: 100%;
            padding: 14px 10px;
            margin: 0 0 10px 0;
    
            img {
                width: 18px;
                margin: 0 8px 0 0;
            }
        }

        p.text-center {
            margin: 20px 0 0 0;
        }
    }
    
}

@media (max-width: 480px) {
    .auth-content {
        .form-group.birth-date {
            .custom-select {
                width: 100%;
                margin: 0 0 10px 0;
            }
        }
    }
}