.career-page {
    .vacancies-wrapper {
        margin: 50px 0 0 0;
    }
}

.vacancy {
    padding: 25px 35px;
    margin: 0 0 20px 0;
    border: 1px solid rgba(#e9e9e9, .9);

    .title {
        span {
            font-size: 1.2rem;
            color: rgba(#9b9b9b, .9);
        }
    }

    a[data-toggle="collapse"] {
        font-size: 2rem;
        line-height: 2.5rem;
        font-family: "BaiJamjuree Bold", sans-serif;

        &:after {
            transition: top .2s ease;
            top: 18px;
        }
    }

    a[aria-expanded="true"] {
        &:after {
            top: 8px;
            transform: rotate(270deg);
        }
    }

    .vacancy-desc {
        > h3 {
            font-size: 1.7rem;
            font-family: "BaiJamjuree Bold", sans-serif;
            margin: 30px 0 20px 0;
        }

        .editor-body {
            font-size: 1.4rem;
            line-height: 2.9rem;
        }

        ul, ol {
            padding-left: 24px;
            list-style-type: disc;
        }
    }

    .apply-job {
        font-size: 1.8rem;
        padding: 12px 45px;
        margin: 40px 0 0 0;

        &.applied {
            background: #52c08d;
            color: #fff;
        }
    }

}

@media (max-width: 991px) {
    .vacancy {
        padding: 15px 20px;
        margin: 0 0 15px 0;
    
        .vacancy-desc {
            > h3 {
                margin: 20px 0 10px 0;
            }
        }
    
        .apply-job {
            font-size: 1.7rem;
            margin: 30px 0 0 0;
        }
    }

}

@media (max-width: 575px) {
    .vacancy {
        a[data-toggle="collapse"] {
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
    }
}