.white-panel {
    .more {
        display: inline-block;
        color: #000;
        margin: 20px 0 0 0;
        text-decoration: underline;
    }
}

.checkout-products {
    font-size: 2rem;
    width: 100%;
    height: 60px;
    margin: 35px 0 30px 0;
}

.accepted-payments {
    > div {
        display: inline-block;
        text-align: center;
        height: 35px;
        width: 62px;
        padding: 4px 13px;
        margin: 0 10px 0 0;
        background: #f4f4f4;
    }
}

.cart-products {
    .cart-product {
        padding: 30px;
        margin: 0 0 15px 0;

        .image {
            border: none;
            background: #f8f8f8;
        }
    }

    .preload:after {
        width: 16px;
        height: 16px;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
    }

    .actions {
        display: flex;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 34px;
            height: 34px;
            background: #f8f8f8;

            &:hover,
            &.active {
                path {
                    fill: #000;
                }
            }
        }

        .add-to-favorite {
            a {
                margin: 0 0 0 10px;
            }

            svg {
                transform: scale(.9) translateY(1px);
            }

            path {
                fill: transparent;
                transition: .2s ease;
            }
        }
    }

    .selectize-control.single .selectize-input {
        padding: 0 12px 0 0;
        border: none !important;
        font-size: 1.5rem;

        &:after {
            right: 0px;
            margin: -3px 0 0 0;
        }

        input {
            font-size: 1.5rem;
        }
    }

    .selectize-dropdown {
        width: auto !important;
    }

    .selectize-dropdown-content {
        padding: 0 15px;
    }

    .selectize-dropdown .option {
        padding: 10px 0;
        white-space: nowrap;
        font-size: 1.5rem;
    }

}

@media (max-width: 575px) {
    .cart-products {
        .cart-product {
            padding: 20px;
        }
    }
}