.checkout-page {
    .white-panel {
        padding: 40px;
    }
}

.white-panel {
    .selectize-control.single .selectize-input {
        border-color: rgba(#000, .4);
        opacity: .5;

        &.input-active {
            border-color: #000;
            opacity: 1;
        }
    }
}

.field-wrapper {
    display: flex;
}

.info-text {
    line-height: 2.2rem;
    opacity: .5;

    a {
        color: #000;
        text-decoration: underline;
    }
}

.white-panel.promocode {
    .field-wrapper {
        align-items: flex-end;
        margin: 0 0 20px 0;
    }

    .form-group {
        margin: 0;
        width: 100%;
    }

    label {
        opacity: 1;
    }

    .apply-promocode {
        height: 52px;
        padding: 10px 50px;
        margin-left: 14px;
    }

    .info-text {
        max-width: 450px;
    }
}

.white-panel.delivery-address {
    .divider {
        max-width: 600px;
        margin: 35px 0;
    }

    input + label {
        opacity: 1;
    }
}

.submit-payment {
    height: 60px;
    width: 100%;
    max-width: 458px;
    margin: 20px 0 0 0;
}

.subtotal,
.total {
    font-size: 1.8rem;
    font-family: "BaiJamjuree Medium", sans-serif;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 1.8rem;
        line-height: 2.4rem;
        padding: 4px 0;
    }

    strong {
        font-family: "BaiJamjuree Bold", sans-serif;
    }
}

.total {
    font-size: 2.2rem;
    font-family: "BaiJamjuree Bold", sans-serif;

    p {
        font-size: 2.2rem;
    }
}

/* ***** -- card credentils ***** */
.white-panel.card-credentials {
    .selectize-control {
        display: inline-block;
        width: 136px;
        margin: 0 20px 0 0;

        &:last-child {
            margin: 0;
        }
    }

    .form-group.cvv {
        align-items: center;

        .form-control {
            width: 136px;
            display: inline-block;
        }

        img {
            width: 48px;
            margin-left: 30px;
        }
    }

    .terms-agreement {
        font-family: "BaiJamjuree Medium", sans-serif;
        font-size: 1.5rem;
        max-width: 536px;
        margin: 40px 0 0 0;
        opacity: .6;
    }
}

@media (max-width: 1200px) {
    .checkout-page {
        .white-panel {
            padding: 30px;
        }
    }

}

@media (max-width: 575px) {
    /* ***** -- promocode ***** */
    .white-panel.promocode {
        .field-wrapper {
            flex-wrap: wrap;
        }
    
        .form-group {
            margin: 0 0 10px 0;
        }
    
        .apply-promocode {
            font-size: 1.6rem;
            width: 100%;
            max-width: 458px;
            height: 52px;
            margin: 0;
        }
    }

    /* ***** -- delivery address ***** */
    .white-panel.delivery-address {
        .divider {
            margin: 25px 0 20px 0;
        }
    
        .submit-payment {
            height: 52px;
            margin: 10px 0 0 0;
        }
    }

    /* ***** -- card credentils ***** */
    .white-panel.card-credentials {
        .selectize-control {
            width: 110px;
            margin: 0 13px 0 0;
        }

        .form-group.cvv {
            .form-control {
                width: 110px;
            }

            img {
                margin-left: 15px;
            }
        }

        .terms-agreement {
            margin: 20px 0 0 0;
        }
    }

    /* ***** -- subtotal ***** */
    .subtotal,
    .total {
        font-size: 1.6rem;

        p {
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }

    .total {
        font-size: 1.8rem;

        p {
            font-size: 1.8rem;
        }
    }

}