* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: "BaiJamjuree Regular", sans-serif;
    color: #000;
    background: #f8f8f8;
    overflow-x: hidden !important;

    &.no-scroll {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, hr {
    margin: 0;
}

a {
    display: inline-block;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

strong {
    font-family: "BaiJamjuree Bold", sans-serif;
}

button {
    font-size: 1.8rem;
    font-family: "BaiJamjuree Bold", sans-serif;
    outline: none !important;
    border: none;
    white-space: nowrap;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ***** -- swiper slider ***** */
div.swiper-lazy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    .swiper-pagination-bullet {
        border-radius: 0;
        height: 8px;
        width: 8px;
        margin: 0 7px !important;
        background: rgba(#fff, .2);
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }
}

/* ***** -- bootstrap ***** */
.container-fluid {
    max-width: 1350px;
}

.form-group {
    position: relative;
    margin: 0 0 20px 0;

    .form-group {
        margin: 0;
    }

    label {
        width: 100%;
        font-size: 1.6rem;
        margin: 0 0 10px 0;
        opacity: .5;
    }

    .form-control {
        height: 52px;
        padding: 5px 18px;
        border-color: rgba(#000, .4);
        border-radius: 0;
        outline: none;
        box-shadow: none;
        opacity: .5;
        font-size: 1.6rem;
        background-image: none;

        &.filled,
        &:focus {
            box-shadow: none;
            border-color: #000;
            opacity: 1;
        }
    }
}

.form-control {
    &.is-invalid {
        border-color: #e24747 !important;
    }

    &.is-valid {
        border-color: #52c08d !important;
    }

    .invalid-feedback {
        color: #e24747;
    }

    .valid-feedback {
        color: #52c08d;
    }
}

.form-control::placeholder {
    color: #000;
}

.form-control::-webkit-input-placeholder {
    color: #000;
}

.form-control:-moz-placeholder {
    color: #000;
}  

.form-control::-moz-placeholder {
    color: #000;
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-group.select {
    font-family: "BaiJamjuree Medium", sans-serif;

    label {
        display: block;
        font-size: 1.3rem;
        margin: 0 0 10px 0;
        opacity: .4;
    }

    select {
        font-size: 1.6rem;
        height: 54px;
        padding: 0 20px;
    }

    &:after {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        top: 54px;
        right: 20px;
        background: url("../images/icons/link-arrow.svg") no-repeat center;
        background-size: contain;
        transform: rotate(90deg);
    }
}

.collapsing {
    transition: all .2s ease;
}

/* ***** -- dropdowns ***** */
.dropdown-menu {
    min-width: auto;
    font-size: 1.3rem;

    .dropdown-item {
        padding: 0 8px;
        color: #000 !important;

        &:hover {
            color: #000;
        }
    }
}

.dropdown-toggle::after {
    border: none;
    width: 10px;
    height: 6.5px;
    background: url("../images/icons/dropdown-arrow.svg") no-repeat center;
    background-size: contain;
    transform: translateY(3px) !important;
}

/* ***** -- collapse ***** */
a[data-toggle="collapse"] {
    position: relative;
    display: block;
    color: #000;
    padding-right: 15px;

    &:after {
        content: "";
        position: absolute;
        right: 2px;
        top: 8px;
        width: 7px;
        height: 11px;
        background: url("../images/icons/link-arrow.svg") no-repeat center;
        background-size: contain;
        transform: rotate(90deg);
    }
}

a[aria-expanded="true"] {
    &:after {
        transform: rotate(270deg);
    }
}

/* ***** -- modals ***** */
.modal {
    padding: 0 12px;
    
    &.fade {
        transition: opacity .3s ease !important;
    }

    &.show {
        display: block;
    }

    .close-modal {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        background: #f8f8f8;
        z-index: 10;
        transition: background .2s ease;

        .hover-side {
            transition: stroke .2s ease;
        }

        &:hover {
            background: #000;

            .hover-side {
                stroke: #fff;
            }
        }
    }
}

.modal-dialog.product-dialog {
    max-width: 870px;
}

.modal-content {
    border: none;
    border-radius: 0;
}

/* ***** -- range slider ***** */
.theme-green .back-bar {
    background: #e5e5e5;
}

.theme-green .back-bar .selected-bar {
    background: #000;
}

.theme-green .back-bar .pointer {
    background: #000;
    border: none;
}

.slider-container .back-bar .pointer-label {
    font-family: "BaiJamjuree SemiBold", sans-serif;
}

.slider-container .back-bar .pointer-label.low {
    left: 0 !important;
}

.slider-container .back-bar .pointer-label.high {
    left: auto !important;
    right: 0 !important;
}

/* ***** -- selectize ***** */
select.custom-select {
    display: none; 
}

.selectize-control.single .selectize-input {
    background: #fff;
    border-color: rgba(#000, .2);
    box-shadow: none;
    padding: 16px 20px;
    border-radius: 0;
    font-size: 1.6rem;
    transition: opacity .2s ease;

    &:after {
        width: 8px;
        height: 8px;
        right: 20px;
        background: url("../images/icons/link-arrow.svg") no-repeat center;
        background-size: contain;
        transform: rotate(90deg);
        margin: -4px 0 0 0;
        border: none;
    }

    &:before {
        display: none;
    }

    input {
        font-size: 1.6rem;
    }
}

.selectize-control.custom-select {
    &.filled {
        .selectize-input {
            border-color: #000 !important;
            opacity: 1 !important;
        }
    }
}

.selectize-dropdown {
    margin: 5px 0 0 0;
    border: 1px solid rgba(#000, .1) !important;
    box-shadow: none;

    .option {
        font-size: 1.6rem;
        font-family: "BaiJamjuree Medium", sans-serif;
        padding: 13px 0;
        opacity: .5;
        border-bottom: 1px solid rgba(#000, .1);
        cursor: pointer;
        transition: .2s ease;

        &:last-child {
            border: none;
        }

        &:hover {
            opacity: .6;
            border-bottom: 1px solid rgba(#000, .2);
        }

        &.active {
            background: transparent;
        }
    }
}

.selectize-dropdown-content {
    padding: 0 20px;
}

@media (max-width: 991px) {
    .modal {
        .close-modal {
            width: 40px;
            height: 40px;

            svg {
                transform: scale(.9);
            }
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- bootstrap ***** */
    .form-group {
        margin: 0 0 15px 0;

        label {
            margin: 0 0 5px 0;
        }
    }

    /* ***** -- modals ***** */
    .modal {
        padding: 0;
    }

}