/* ***** -- faq info centres ***** */
.faq-page {
    .info-centres {
        margin: -5px 0 80px 0;

        a {
            color: #000;
        }

        > li {
            font-size: 2rem;
            font-family: "BaiJamjuree Bold", sans-serif;
            margin: 0 50px 15px 0;

            span {
                display: block;
                font-size: 1.5rem;
                font-family: "BaiJamjuree Medium", sans-serif;
                opacity: .3;
            }

            &:last-child {
                margin: 0;
            }
        }

        .emails {
            a {
                display: block;
                font-size: 18px;
                font-family: "BaiJamjuree Medium", sans-serif;

                img {
                    margin: 0 10px 0 0;
                }

                &:last-child {
                    img {
                        opacity: 0;
                    }
                }
            }
        }

        .socials {
            a {
                background-color: rgba(#000, .1);
            }
        }
    }

}

.faq-section {
    .white-panel {
        height: auto;
        margin: 0 0 12px 0;
    }
}

.white-panel.faq-sidebar {
    padding: 0 !important;

    ul.sidebar-list {
        padding: 7px 0;
        margin: 0;

        li {
            margin: 0;

            &.active {
                a {
                    background: #f4f4f4;
                }
            }
        }

        a {
            &:hover {
                background: #f4f4f4;
            }
        }
    }
}

.white-panel.faq-content {
    padding: 7px 30px;
}

.faq-questions {
    a[data-toggle="collapse"] {
        font-size: 1.7rem;
        line-height: 2.2rem;
        font-family: "BaiJamjuree Medium", sans-serif;
        opacity: .8;
    }

    li {
        padding: 20px 0;
        margin: 0 !important;
        border-bottom: 1px solid rgba(#000, .15);

        &:last-child {
            border: none;
        }
    }

    .faq-answer {
        margin: 15px 0 0 0;

        * {
            font-size: 1.7rem;
            line-height: 2.6rem;
            font-family: "BaiJamjuree Bold", sans-serif;
        }
    }
}

@media (max-width: 1280px) {
    /* ***** -- faq info centres ***** */
    .faq-page {
        .info-centres {
            margin: -5px 0 60px 0;
    
            > li {
                width: 20%;
                padding: 0 24px 0 0;
                margin: 0 0 15px 0;

                &:last-child {
                    padding: 0 12px 0 0;
                }
            }
        }
    }

}

@media (max-width: 1200px) {
    /* ***** -- faq info centres ***** */
    .faq-page {
        .info-centres {    
            > li {
                width: 25%;
            }
        }
    }

}

@media (max-width: 991px) {
    /* ***** -- faq info centres ***** */
    .faq-page {
        .info-centres {    
            > li {
                font-size: 1.8rem;
                width: 33.333333%;
            }

            .emails {
                a {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .faq-questions {
        a[data-toggle="collapse"] {
            font-size: 1.6rem;
        }
    
        li {
            padding: 15px 0;
        }
    }

}

@media (max-width: 767px) {
    /* ***** -- faq info centres ***** */
    .faq-page {
        .info-centres {    
            > li {
                font-size: 1.8rem;
                width: 33.333333%;
            }

            .emails {
                a {
                    font-size: 1.6rem;
                }
            }
        }
    }

}

@media (max-width: 575px) {
    .white-panel.faq-content {
        padding: 3px 20px !important;
    }
    
}

@media (max-width: 480px) {
    /* ***** -- faq info centres ***** */
    .faq-page {
        .info-centres {    
            > li {
                width: 100%;
            }
        }
    }
}