@font-face {
    font-family: "BaiJamjuree Light";
    src: url("../fonts/BaiJamjuree-Light.ttf");
}

@font-face {
    font-family: "BaiJamjuree Regular";
    src: url("../fonts/BaiJamjuree-Regular.ttf");
}

@font-face {
    font-family: "BaiJamjuree Medium";
    src: url("../fonts/BaiJamjuree-Medium.ttf");
}

@font-face {
    font-family: "BaiJamjuree SemiBold";
    src: url("../fonts/BaiJamjuree-SemiBold.ttf");
}

@font-face {
    font-family: "BaiJamjuree Bold";
    src: url("../fonts/BaiJamjuree-Bold.ttf");
}

// @font-face {
//     font-family: "Montserrat Regular";
//     src: url("../fonts/Montserrat-Regular.ttf");
// }

// @font-face {
//     font-family: "Montserrat Medium";
//     src: url("../fonts/Montserrat-Medium.ttf");
// }

// @font-face {
//     font-family: "Montserrat SemiBold";
//     src: url("../fonts/Montserrat-SemiBold.ttf");
// }

// @font-face {
//     font-family: "Montserrat Bold";
//     src: url("../fonts/Montserrat-Bold.ttf");
// }

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}