.no-padding {
    padding: 0;
}

.pb-80 {
    padding-bottom: 80px;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.cover-center {
    background: no-repeat center center;
    background-size: cover;
}

.visible-1024 {
    display: none;
}

.visible-767 {
    display: none;
}

.visible-575 {
    display: none;
}

/* ***** -- section header ***** */
.section-header {
    margin: 0 0 50px 0;
    align-items: center;
    justify-content: space-between;
}

.section-title {
    font-size: 3.6rem;
    font-family: "BaiJamjuree Bold", sans-serif;
}

.block-title {
    font-size: 3rem;
    font-family: "BaiJamjuree Bold", sans-serif;
    margin: 0 0 40px 0;
}

/* ***** -- buttons ***** */
[class*="btn-"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "BaiJamjuree Bold", sans-serif;
    text-transform: uppercase;
    transition: .2s ease;
}

.btn-custom {
    position: relative;
    display: inline-block;
    font-family: "BaiJamjuree Regular", sans-serif;
    color: #fff;
    padding: 23px 30px;
    background: transparent;
    border: 1px solid rgba(#fff, .3);
    z-index: 5;
    text-transform: none;
    transition: .2s ease;

    svg {
        margin: -1px 0 0 15px;
        width: 10px;

        path {
            transition: .2s ease;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #fff;
        z-index: -1;
        transition: .2s ease;
    }

    &:hover {
        color: #000;

        &:before {
            width: 100%;
        }

        path {
            fill: #000;
        }
    }
}

.btn-default {
    color: #000 !important;
    padding: 14px 50px;
    background: #e0e0e0;
}

.btn-black {
    background: #000;
    color: #fff;

    &:hover {
        background: lighten(#000, 15%);
    }
}

.btn-yellow {
    background: #ffbc25;
    color: #000;

    &:hover {
        color: #000;
        background: lighten(#ffbb24, 7%);
    }
}

.preload {
    position: relative;

    * {
        opacity: 0;
    }

    &:after {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: calc(50% - 12px);
        left: calc(50% - 12px);
        border-radius: 50%;
        border: 2px solid #000;
        border-left-color: transparent;
        border-right-color: transparent;
        animation: spin .7s infinite linear;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* ***** -- text editor ***** */
.editor-body {
    font-family: "BaiJamjuree Medium", sans-serif;
    font-size: 1.5rem;
    line-height: 2.6rem;

    ul {
        li {
            display: list-item;
        }
    }

    p {
        strong {
            display: inline;
            margin: 0;
        }
    }
}

/* ***** -- checkboxes ***** */
input[type="checkbox"],
input[type="radio"] {
    display: none;

    & + label {
        position: relative;
        font-family: "BaiJamjuree Medium", sans-serif;
        font-size: 1.6rem;
        padding: 0 0 0 22px;
        margin: 0;
        cursor: pointer;
        opacity: 1;
        user-select: none;

        &:before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url("../images/icons/checkbox-unchecked.svg") no-repeat center;
            background-size: contain !important;
            position: absolute;
            left: 0;
            top: 5px;
        }
    }

    &:checked + label {
        &:before {
            background: url("../images/icons/checkbox-checked.svg") no-repeat center;
        }
    }
}

input[type="radio"] {
    & + label {
        &:before {
            width: 13px;
            height: 13px;
            top: 6px;
            background: url("../images/icons/radio-unchecked.svg") no-repeat center;
        }
    }

    &:checked + label {
        &:before {
            background: url("../images/icons/radio-checked.svg") no-repeat center;
        }
    }
}

/* ***** -- breadcrumb ***** */
.breadcrumb {
    padding: 20px 0;
    display: flex;

    li {
        position: relative;
        display: inline-block;
        opacity: .5;

        &:after {
            content: "";
            display: inline-block;
            width: 4px;
            height: 8px;
            margin: 0 10px;
            background: url("../images/icons/link-arrow.svg") no-repeat center;
            background-size: contain;
        }

        &:last-child {
            opacity: 1;
            pointer-events: none;
            user-select: none;

            &:after {
                display: none;
            }
        }
    }

    a {
        font-size: 1.4rem;
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ***** -- white panel ***** */
.white-panel {
    background: #fff;
    padding: 30px;
    margin: 0 0 15px 0;

    .panel-header {
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 1.5rem;
            line-height: 2.5rem;
        }
    }

    .panel-title {
        font-family: "BaiJamjuree Bold", sans-serif;
        font-size: 2.2rem;
        text-transform: uppercase;

        &.primary {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            font-size: 2.4rem;
            text-transform: none;

            img {
                height: 3rem;
                margin-right: 16px;
            }
        }

        &.secondary {
            font-size: 1.7rem;
            margin: 0 0 18px 0;
        }
    }

    .panel-body {
        margin: 20px 0 0 0;
    }

    .panel-info-text {
        max-width: 600px;
        margin: 0 0 40px 0;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.6rem;

        a {
            text-decoration: underline;
            color: #000;
        }
    }

    .divider {
        margin: 24px 0;
        height: 1px;
        background: rgba(#000, .1);
    }

    .helper-links {
        li {
            margin: 5px 0 0 0;
        }

        a {
            color: #000;
            font-size: 1.7rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .form-control {
        max-width: 458px;
    }
}

/* ***** -- alerts ***** */
.site-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    padding: 25px 12px;
    background: #000;
    z-index: 120;

    &.alert-danger {
        background: #e24747;

        strong {
            &:before {
                display: inline-block;
                background: url("../images/icons/times-circle.svg") no-repeat center;
            }
        }
    }

    &.alert-success {
        background: #52c08d;

        strong {
            &:before {
                display: inline-block;
                background: url("../images/icons/check-circle.svg") no-repeat center;
            }
        }
    }

    .alert-content {
        align-items: center;
        max-width: 1320px;
        margin: 0 auto;
    }

    strong {
        text-transform: uppercase;
        margin: 0 25px 0 0;

        &:before {
            content: "";
            display: none;
            width: 18px;
            height: 18px;
            margin: 0 14px 0 0;
            background-size: contain;
            transform: translateY(3px);
        }
    }

    a {
        color: #fff;
        text-decoration: underline;
    }
}

/* ***** -- modal alert ***** */
.confirm-alert {
    max-width: 650px;
    background: #fff;
    box-shadow: 0 40px 30px 0 rgba(0, 0, 0, 0.21);
}

.alert-block {
    padding: 70px 50px 50px 50px;

    .title {
        font-size: 3rem;
        line-height: 4rem;
        font-family: "BaiJamjuree Bold", sans-serif;
    }

    .subtitle {
        font-size: 2rem;
        line-height: 2.3rem;
        font-family: "BaiJamjuree Medium", sans-serif;
        margin: 10px 0 45px 0;
    }

    .actions {
        justify-content: center;

        a {
            padding: 18px 40px;
            font-size: 1.7rem;
            margin: 0 10px;
        }
    }
}

@media (max-width: 1367px) {
    /* ***** -- buttons ***** */
    .btn-custom {
        font-size: 1.6rem;
        padding: 15px 20px;
    }

}

@media (max-width: 1024px) {
    .hidden-1024 {
        display: none;
    }

    .visible-1024 {
        display: block;
    }

    /* ***** -- alerts ***** */
    .site-alert {
        font-size: 1.4rem;
        padding: 12px 12px;

        strong {
            margin: 0 15px 0 0;

            &:before {
                width: 16px;
                height: 16px;
                margin: 0 10px 0 0;
            }
        }
    }

}

@media (max-width: 991px) {
    .pb-80 {
        padding-bottom: 50px;
    }

    /* ***** -- section header ***** */
    .section-header {
        margin: 0 0 30px 0;
    }

    .section-title {
        font-size: 3rem;
    }

    .block-title {
        font-size: 2.4rem;
        margin: 0 0 20px 0;
    }

    /* ***** -- modal alert ***** */
    .confirm-alert {
        max-width: 550px;
        box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.21);
    }

    .alert-block {
        padding: 50px 30px 30px 30px;

        .title {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }

        .subtitle {
            font-size: 1.7rem;
            line-height: 2rem;
            margin: 10px 0 30px 0;
        }

        .actions {
            a {
                margin: 0 5px;
                padding: 10px 30px;
                font-size: 1.5rem;
            }
        }
    }

}

@media (max-width: 767px) {
    .visible-767 {
        display: block;
    }
}

@media (max-width: 575px) {
    .hidden-575 {
        display: none !important;
    }

    .visible-575 {
        display: block;
    }

    .section-title {
        font-size: 2.6rem;
    }

    /* ***** -- buttons ***** */
    .btn-custom {
        font-size: 1.4rem;
        padding: 12px 16px;
    }

    /* ***** -- white panel ***** */
    .white-panel {
        padding: 20px !important;

        .panel-header {
            p {
                font-size: 1.4rem;
                line-height: 2.2rem;
            }
        }

        .panel-title {
            font-size: 1.8rem;

            &.primary {
                font-size: 2rem;
    
                img {
                    height: 2.2rem;
                    margin-right: 12px;
                }
            }
        }

        .panel-body {
            margin: 15px 0 0 0;
        }

        .panel-info-text {
            margin: 0 0 20px 0;
        }

        p {
            font-size: 1.5rem;
            line-height: 2.3rem;
        }
    }

    /* ***** -- modal alert ***** */
    .confirm-alert {
        max-width: 550px;
        box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.21);
    }

    .alert-block {
        padding: 50px 20px 30px 20px;

        .actions {
            a {
                padding: 8px 25px;
                font-size: 1.4rem;
            }
        }
    }

}

@media (max-width: 480px) {
    /* ***** -- breadcrumb ***** */
    .breadcrumb {
        padding: 15px 0;
    }
}