.intro-slider {
    color: #fff;
    background: #000;

    .swiper-lazy {
        opacity: .5;
    }

    .swiper-pagination {
        bottom: 40px;
    }

    .col-12.flex {
        min-height: 60rem;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .category {
        color: #ffbc25;
        font-size: 1.8rem;
    }

    .title {
        font-size: 7rem;
        margin: 10px 0;
        font-family: "Montserrat ExtraBold", sans-serif;
    }

    .subtitle {
        font-size: 2.5rem;
        font-family: "BaiJamjuree SemiBold", sans-serif;
    }

    .btn-custom {
        margin: 40px 0 0 0;
    }
}

/* ***** -- brands section ***** */
.brands {
    background: #fff;
    padding: 40px 0;

    .swiper-slide {
        height: 80px;
        background: #f8f8f8;
        border: 1px solid #e5e5e5;
        padding: 6px 15px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        filter: grayscale(5);

        &:hover {
            filter: none;
        }
    }

    img {
        max-height: 100%;
    }
}

/* ***** -- suggested products ***** */
.suggested-products {
    padding: 70px 0 60px 0;

    .swiper-slide {
        height: auto;
        margin: 0 0 70px 0;
    }

    .product-card {
        height: 100%;
    }

    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        background: rgba(#000, .2);
    }

    .swiper-pagination-bullet-active {
        background: #000;
    }
}

.slider-controls {
    > div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        margin-left: 10px;
        background: #fff;
        cursor: pointer;
        transition: background .2s ease;

        svg {
            transform: scale(1.3);
        }

        path {
            fill: #000;
            transition: fill .2s ease;
        }

        &:hover {
            background: #000;

            path {
                fill: #fff;
            }
        }
    }

    .slide-prev {
        transform: rotate(-180deg);

        svg {
            transform: scale(1.3) translate(1px, -1px);
        }
    }
}

/* ***** -- banners section ***** */
.bnrs {
    padding: 120px 0 80px 0;
    background: #fff;
}

.bnr-block {
    position: relative;
    margin: 0 0 15px 0;
    background: #000;
    overflow: hidden;

    a {
        display: block;
    }

    .image {
        height: 100%;
        opacity: .7;
        transition: transform .2s ease;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        flex-direction: column;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 50px;
    }

    .category {
        color: #ffbb24;
        font-size: 2rem;
        line-height: 2rem;
        font-family: "BaiJamjuree Bold", sans-serif;
    }

    .title {
        font-size: 4.5rem;
        line-height: 5.2rem;
        font-family: "Montserrat ExtraBold", sans-serif;
        color: #fff;
        margin: 18px 0;
    }

    .subtitle {
        font-size: 2.2rem;
        line-height: 2.7rem;
        font-family: "Montserrat Medium", sans-serif;
        color: #fff;
    }
}

.bnr-block:hover {
    .image {
        transform: scale(1.07);
    }
}

/* ***** -- advantages ***** */
.advantages {
    overflow: hidden;
    
    [class*="col-"] {
        border-right: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
    }
}

.advantage {
    padding: 50px 20px 40px 20px;

    img {
        max-height: 36px;
    }

    p {
        font-size: 2rem;
        line-height: 2.4rem;
        max-width: 240px;
        margin: 30px auto 0 auto;
    }
}

/* ***** -- subscribe ***** */
.subscribe-section {
    padding: 70px 0 60px 0;
    background: #000;
    color: #fff;

    .row {
        align-items: flex-end;
    }

    .section-title {
        margin: 0 0 30px 0;
    }

    .subtitle {
        max-width: 536px;
        opacity: .7;
    }

    .subscribe-form {
        display: flex;
        justify-content: space-between;
    }

    .form-group {
        width: 100%;
        margin: 0;
        transition: .2s ease;
        opacity: .5;

        &.focused {
            opacity: 1;
        }

        &:before {
            content: "";
            width: 18px;
            height: 16px;
            position: absolute;
            top: 27px;
            left: 0;
            background: url("../images/icons/envelope.svg") no-repeat center;
            background-size: contain;
        }

        .form-control {
            font-size: 20px;
            color: #fff;
            width: 100%;
            height: 69px;
            padding: 15px 0 15px 31px;
            border: none;
            border-bottom: 2px solid #fff;
            background: none;
            opacity: 1;
        }

        .form-control::placeholder {
            color: #fff;
        }

        .form-control::-webkit-input-placeholder {
            color: #fff;
        }
    
        .form-control:-moz-placeholder {
            color: #fff;
        }  

        .form-control::-moz-placeholder {
            color: #fff;
        }
    }

    .btn-subscribe {
        height: 69px;
        min-width: 173px;
        margin: 0 0 0 40px;
    }
}

/* ***** -- media breakpoints ***** */
@media(max-width: 1367px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .category {
            font-size: 1.7rem;
        }
    
        .title {
            font-size: 6rem;
        }
    
        .subtitle {
            font-size: 2.2rem;
        }
    
        .btn-custom {
            margin: 30px 0 0 0;
        }
    }

    /* ***** -- banners section ***** */
    .bnrs {
        padding: 80px 0 65px 0;
    }

    .bnr-block {
        .info {
            padding: 30px;
        }

        .category {
            font-size: 1.8rem;
            line-height: 1.8rem;
        }

        .title {
            font-size: 3.8rem;
            line-height: 4.5rem;
            margin: 15px 0;
        }

        .subtitle {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }

}

@media(max-width: 1199px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .container {
            max-width: 100%;
        }
    }

    /* ***** -- advantages ***** */
    .advantage {
        padding: 40px 15px 30px 15px;

        img {
            max-height: 32px;
        }

        p {
            font-size: 1.8rem;
            line-height: 2.2rem;
            margin: 20px auto 0 auto;
        }
    }

    /* ***** -- subscribe ***** */
    .subscribe-section {
        .section-title {
            margin: 0 0 20px 0;
        }

        .subtitle {
            max-width: 536px;
            opacity: .7;
        }
    }

}

@media(max-width: 991px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .col-12.flex {
            min-height: 70vw;
        }

        .swiper-pagination {
            bottom: 10px;
        }

        .category {
            font-size: 1.6rem;
        }

        .title {
            font-size: 5.2rem;
            margin: 5px 0;
        }
    
        .subtitle {
            font-size: 2rem;
        }
    }

    /* ***** -- suggested products ***** */
    .suggested-products {
        padding: 40px 0 30px 0;
    
        .swiper-slide {
            margin: 0 0 40px 0;
        }
    }
    
    .slider-controls {
        > div {
            width: 40px;
            height: 40px;
        }
    
        .slide-prev {
            svg {
                transform: scale(1.3) translate(1px, 0px);
            }
        }
    }

    /* ***** -- banners section ***** */
    .bnr-block {
        height: 32vw;

        .info {
            padding: 20px;
        }

        .category {
            font-size: 1.6rem;
            line-height: 1.6rem;
        }

        .title {
            font-size: 3.2rem;
            line-height: 3.9rem;
            margin: 10px 0;
        }

        .subtitle {
            font-size: 1.8rem;
            line-height: 2.3rem;
        }
    }

    /* ***** -- subscribe ***** */
    .subscribe-section {
        padding: 50px 0 40px 0;

        .subtitle {
            margin: 0 0 20px 0;
        }

        .form-group {
            &:before {
                width: 18px;
                height: 16px;
                top: 22px;
            }

            .form-control {
                font-size: 1.8rem;
                height: 60px;
                padding: 15px 0 15px 31px;
            }
        }

        .btn-subscribe {
            font-size: 1.4rem;
            height: 60px;
            min-width: 130px;
            margin: 0 0 0 15px;
        }
    }

}

@media(max-width: 767px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .col-12.flex {
            min-height: 80vw;
        }

        .title {
            font-size: 7vw;
        }
    }

    /* ***** -- banners section ***** */
    .bnrs {
        padding: 50px 0 20px 0;
    }

    .bnr-block {
        height: auto;
    }

}

@media(max-width: 575px) {
    /* ***** -- intro slider ***** */
    .intro-slider {
        .col-12.flex {
            min-height: 96vw;
        }

        .title {
            font-size: 3rem;
        }

        .subtitle {
            font-size: 1.8rem;
        }

        .btn-custom {
            margin: 15px 0 0 0;
        }
    }

}

@media (max-width: 480px) {
    /* ***** -- banners section ***** */
    .bnr-block {
        height: 66vw;

        .info {
            padding: 15px;
        }

        .category {
            font-size: 1.4rem;
            line-height: 1.4rem;
        }

        .title {
            font-size: 2.6rem;
            line-height: 3.2rem;
            margin: 5px 0;
        }

        .subtitle {
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
    }

    /* ***** -- advantages ***** */
    .advantages {
        [class*="col-"]:nth-child(odd) {
            padding-right: 0;
        }

        [class*="col-"]:nth-child(even) {
            padding-left: 0;
        }
    }

    .advantage {
        padding: 30px 15px;

        img {
            max-height: 30px;
        }

        p {
            margin: 15px auto 0 auto;
        }
    }

    /* ***** -- subscribe ***** */
    .subscribe-section {
        .subscribe-form {
            flex-wrap: wrap;
        }

        .btn-subscribe {
            font-size: 1.6rem;
            width: 100%;
            height: 52px;
            margin: 15px 0 0 0;
        }
    }

}