.order-review {
    .white-panel {
        padding: 40px;
    }

    .bnr-block {
        height: 390px;

        .title {
            font-size: 3.6rem;
            line-height: 4.4rem;
        }
    }

    .order-actions {
        margin: 40px 0;

        li {
            margin: 0 25px 0 0;
        }

        a {
            color: #000;
            font-size: 1.7rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .continue-shopping {
        font-size: 1.8rem;
        height: 60px;
        width: 100%;
        max-width: 450px;
        margin: 0 0 24px 0;
    }
}

.order-details {
    tr:last-child {
        td {
            padding: 0;
        }
    }

    td {
        font-size: 1.5rem;
        padding: 0 0 10px 0;

        &:first-child {
            opacity: .5;
            padding: 0 50px 10px 0;
        }
    }

    .order-status {
        font-family: "BaiJamjuree Bold", sans-serif;
        text-transform: uppercase;

        &.unsuccessful {
            color: #e24747;
        }
        
        &.successful {
            color: #52c08d;
        }
    }
}

@media (max-width: 1280px) {
    .order-review {
        .bnr-block {
            height: 32vw;
        }
    }
}

@media (max-width: 991px) {
    .order-review {
        .white-panel {
            padding: 30px;
        }

        .bnr-block {
            height: 34vw;

            .title {
                font-size: 3rem;
                line-height: 3.7rem;
            }
        }

        .order-actions {
            margin: 20px 0;
    
            li {
                margin: 0 15px 0 0;
            }
    
            a {
                font-size: 1.6rem;
            }
        }
    }

    .order-details {
        td {
            font-size: 1.4rem;
    
            &:first-child {
                opacity: .5;
                padding: 0 25px 10px 0;
            }
        }
    }

}

@media (max-width: 767px) {
    .order-review {
        .bnr-block {
            height: 66vw;
        }
    }
}

@media (max-width: 480px) {
    .order-review {
        .bnr-block {
            height: 66vw;

            .title {
                font-size: 2.6rem;
                line-height: 3.2rem;
                margin: 5px 0;
            }
        }
    }

    .order-details {
        tr {
            display: block;
            margin: 0 0 5px 0;
        }

        td {
            display: block;
            padding: 0 !important;
        }
    }

}