/* ***** -- top bnrs ***** */
.top-bnrs {
    margin: 0 0 30px 0;

    .bnr-block {
        height: 170px;
        margin: 0;

        .info {
            justify-content: flex-start;
            padding: 25px;
        }

        .title {
            font-size: 2.2rem;
            line-height: 2.8rem;
            margin: 0 0 12px 0;
        }

        .subtitle {
            font-size: 1.6rem;
            line-height: 2.1rem;
        }
    }
}

/* ***** -- inline filters ***** */
.inline-filters {
    padding: 25px 30px;
    background: #fff;
    margin: 0 0 24px 0;

    li {
        margin: 0 30px 0 0;
        display: inline-block;

        &:last-child {
            margin: 0;
        }
    }

    a {
        font-family: "BaiJamjuree Medium", sans-serif;
        font-size: 1.5rem;
        color: #000;
        opacity: .5;
        transition: .3s ease;

        &:hover,
        &.active {
            opacity: 1;
        }
    }

    .right {
        margin-left: auto;

        li {
            margin: 0 0 0 30px;

            &:first-child {
                margin: 0;
            }
        }
    }

    .form-group {
        margin: 0;
    }
}

/* ***** -- mobile filters ***** */
.mobile-filters {
    .selectize-control.single .selectize-input {
        input {
            width: 100% !important;
        }

        &.full {
            input {
                width: 4px !important;
            }
        }
    }
}

/* ***** -- filters group ***** */
.filters-group {
    position: relative;
    background: #fff;

    .filter-item {
        padding: 25px 30px;
        border-bottom: 1px solid #e5e5e5;

        a[data-toggle="collapse"] {
            font-size: 17px;
            font-family: "BaiJamjuree Medium", sans-serif;
        }

        .form-group {
            margin: 0 0 10px 0;
        }
    }

    .filter-item:last-child {
        border: none;
    }

    .collapse-content {
        padding: 30px 0 0 0;
    }

    .slider-container {
        margin: 20px 0 0 0;
    }
}

.toggle-filters {
    position: absolute;
    top: calc(50% - 17px);
    right: -34px;
    width: 34px;
    height: 32px;
    z-index: 10;
    border-radius: 0 3px 3px 0;
    background: #fff url("../images/icons/filter.svg") no-repeat center;
    background-size: auto 50%;
    border: 1px solid #e5e5e5;
    border-left: 0;
}

/* ***** -- products grid ***** */
.products-grid {
    [class*="col-"] {
        margin: 0 0 24px 0;
    }

    .product-card {
        height: 100%;
    }
}

.loaded-products {
    margin: 50px 0 100px 0;

    p {
        opacity: .5;
        font-family: "BaiJamjuree Medium", sans-serif;
        margin: 0 0 45px 0;
    }
}

.load-more {
    font-family: "BaiJamjuree Bold", sans-serif;
    color: #fff !important;
    padding: 20px 55px;
    background: #313131;
    transition: .2s ease;

    &:hover {
        background: #000;
    }
}

@media (max-width: 1280px) {
    /* ***** -- filters group ***** */
    .filters-group {
        .filter-item {
            padding: 15px 20px;

            a[data-toggle="collapse"] {
                font-size: 1.6rem;
            }
        }

        .collapse-content {
            padding: 20px 0 0 0;
        }
    }

}

@media (max-width: 1024px) {
    .products-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .loaded-products {
        margin: 20px 0 50px 0;
    
        p {
            margin: 0 0 20px 0;
        }
    }

    /* ***** -- inline filters ***** */
    .inline-filters {
        padding: 20px;

        li {
            margin: 0 17px 0 0;
        }

        a {
            font-size: 1.5rem;
        }

        .right {
            margin-left: auto;

            li {
                margin: 0 0 0 17px;
            }
        }
    }

    /* ***** -- filters group ***** */
    .filters-wrapper {
        flex: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 280px;
        max-width: none;
        height: 100vh;
        transform: translateX(-280px);
        padding: 0;
        z-index: 110;
        transition: transform .2s ease;

        &.active {
            transform: translateX(0);
        }
    }

    .filters-group {
        height: 100%;
        overflow-y: auto;
    }

}

@media (max-width: 767px) {
    /* ***** -- inline filters ***** */
    .inline-filters {
        .right {
            width: 100%;
            margin: 10px 0 0 0;
        }
    }
}

@media (max-width: 480px) {
    /* ***** -- top bnrs ***** */
    .top-bnrs {
        margin: 0 0 24px 0;

        .bnr-block {
            height: 190px;

            .info {
                padding: 15px;
            }

            .title {
                font-size: 2rem;
                line-height: 2.6rem;
                margin: 0 0 5px 0;
            }

            .subtitle {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    }

}