.product-inner-page {
    background: #fff;
    
    .product-gallery {
        width: 52%;
    }

    .product-info {
        width: 48%;
    }
}

.selected-product {
    padding: 0 0 90px 0;
}

/* ***** -- product gallery ***** */
.product-gallery {
    .swiper-slide {
        background: #f8f8f8;
    }

    .swiper-lazy {
        position: static;
        width: 100%;
        height: 100%;
        background-size: contain;
    }

    .gallery-thumbs {
        width: 64px;

        .swiper-container {
            height: 100%;
        }

        .swiper-slide {
            padding: 10px;
            border: 2px solid #f8f8f8;
            cursor: pointer;
        }

        .swiper-slide-thumb-active {
            border-color: #000;
        }
    }

    .gallery {
        order: 2;
        width: calc(100% - 64px);
        padding-left: 24px;

        .swiper-slide {
            height: 570px;
            padding: 80px 15px;
        }
    }
}

/* ***** -- product info ***** */
.product-info {
    font-family: "BaiJamjuree Medium", sans-serif;
    padding: 0 0 0 6%;

    .category {
        font-size: 1.5rem;
        opacity: .4;
    }

    .name {
        font-size: 2.2rem;
        margin: 5px 0 10px 0;
    }

    .price {
        align-items: center;

        .current {
            font-size: 2.2rem;
            font-family: "BaiJamjuree Bold", sans-serif;
            margin: 0 20px 0 0;
        }
    
        .old {
            opacity: .3;
            text-decoration: line-through;
        }
    }

    .size {
        margin: 35px 0 30px 0;
        font-size: 1.4rem;
        font-family: "BaiJamjuree Bold", sans-serif;

        label {
            text-align: right;
        }

        .form-group {
            margin: -22px 0 0 0;
        }
    }

    .colors {
        font-size: 1.4rem;
        font-family: "BaiJamjuree Bold", sans-serif;

        p {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }

    .actions {
        justify-content: space-between;
        margin: 65px 0 0 0;

        a {
            display: flex;
            font-size: 1.8rem;
            font-family: "BaiJamjuree Bold", sans-serif;
        }

        .add-to-cart {
            width: calc(100% - 80px);
            justify-content: center;
            align-items: center;
        }
        
        .add-to-favorite {
            width: 60px;
            height: 60px;
            background: #e5e5e5;
            align-items: center;
            justify-content: center;

            svg {
                transform: scale(1.1) translateY(1px);
            }

            path {
                fill: transparent;
                transition: .2s ease;
            }

            &:hover,
            &.active {
                path {
                    fill: #000;
                }
            }
        }
    }
}

.colors-slider {
    width: 100%;

    .swiper-slide {
        width: 60px;
    }

    .color {
        font-family: "BaiJamjuree Medium", sans-serif;

        &.active {
            .thumb {
                border-color:#000;
            }
        }
    }

    .thumb {
        display: block;
        width: 100%;
        height: 74px;
        padding: 13px;
        margin: 0 0 8px 0;
        background: #fff;
        border: 2px solid #fff;
        transition: .2s ease;

        &:hover {
            border-color: #000;
        }

        > div {
            height: 100%;
            background-size: contain;
        }
    }
}

/* ***** -- product detailed info ***** */
.product-detailed-info {
    padding: 80px 0;
    background: #fff;
    border-top: 1px solid #e5e5e5;

    .title {
        font-family: "BaiJamjuree Bold", sans-serif;
        font-size: 1.7rem;
        margin: 0 0 20px 0;
    }

    [class*="col-"] {
        padding: 0 50px 30px 50px;
    }
}

/* ***** -- realated products ***** */
.related-products {
    background: #f8f8f8;
}

@media (max-width: 1367px) {
    /* ***** -- product gallery ***** */
    .product-gallery {
        .gallery {
            padding-left: 15px;

            .swiper-slide {
                height: 500px;
                padding: 17% 15px;
            }
        }
    }
    
    /* ***** -- product info ***** */
    .product-info {
        padding: 0 0 0 24px;
    
        .name {
            font-size: 2rem;
        }
    
        .price {
            .current {
                font-size: 2rem;
                margin: 0 15px 0 0;
            }
        }
    
        .size {
            margin: 25px 0 20px 0;
        }

        .actions {
            margin: 45px 0 0 0;
    
            a {
                display: flex;
                font-size: 1.6rem;
            }
    
            .add-to-cart {
                width: calc(100% - 65px);
            }
            
            .add-to-favorite {
                width: 50px;
                height: 50px;
            }
        }
    }

    .colors-slider {
        .thumb {
            height: 70px;
        }
    }

}

@media (max-width: 991px) {
    .selected-product {
        padding: 0 0 60px 0;
    }

    /* ***** -- product detailed info ***** */
    .product-detailed-info {
        padding: 50px 0 40px 0;

        .title {
            font-size: 1.6rem;
            margin: 0 0 15px 0;
        }

        [class*="col-"] {
            padding: 0 12px 44px 12px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .product-inner-page {
        .product-gallery {
            width: 100%;
        }
    
        .product-info {
            width: 100%;
            padding: 24px 0 0 0;
        }
    }

    /* ***** -- product gallery ***** */
    .product-gallery {
        .gallery {
            .swiper-slide {
                height: 66vw;
                padding: 7% 15px;
            }
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- product gallery ***** */
    .product-gallery {
        .gallery {
            order: 0;
            padding: 0 0 15px 0;
            width: 100%;

            .swiper-slide {
                height: 76vw;
            }
        }

        .gallery-thumbs {
            width: 100%;

            .swiper-slide {
                height: 70px;
            }
        }
    }
    
    /* ***** -- product extensions ***** */
    .product-extensions {
        padding: 40px 0 30px 0;
    }

}