.sales-page {
    .col-md-6 {
        margin: 0 0 24px 0;
    }
}

.sale-block {
    height: 100%;
    font-family: "BaiJamjuree Bold", sans-serif;
    background: #fff;

    a {
        display: block;
        color: #000;
    }

    .image {
        overflow: hidden;

        img {
            width: 100%;
            transition: .2s ease;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    .sale-info {
        padding: 40px;
    }

    .title {
        font-size: 3rem;
        line-height: 3.6rem;
        margin: 0 0 5px 0;
    }

    .desc {
        font-size: 1.8rem;
        font-family: "BaiJamjuree Regular", sans-serif;
        margin: 20px 0 30px 0;
        opacity: .6;
    }

    .more-details {
        font-size: 1.5rem;
        font-family: "BaiJamjuree Medium", sans-serif;

        img {
            width: 6px;
            margin-left: 10px;
        }
    }

}

.countdown-wrapper {
    justify-content: space-between;
    align-items: center;
}

.countdown {
    padding: 12px 14px;
    background: #f8f8f8;

    > div {
        padding: 0 7px;
        position: relative;

        &:after {
            content: ":";
            position: absolute;
            top: -3px;
            right: -3px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    strong {
        display: block;
        font-size: 2rem;
        line-height: 2rem;
    }

    span {
        display: inline-block;
        font-size: .9rem;
        line-height: 1rem;
        text-transform: uppercase;
    }
}

.modal-product {
    position: relative;
    font-family: "BaiJamjuree Bold", sans-serif;
    background: #fff;
    box-shadow: 0 40px 30px 0 rgba(0, 0, 0, 0.21);
    
    .image,
    .info {
        width: 50%;
    }

    .image {
        background-color: #f8f8f8;
    }

    .info {
        align-items: center;
        padding: 70px 50px;
        min-height: 500px; 
    }

    .title {
        font-size: 3.6rem;
        line-height: 4.4rem;
        color: #000;
    }

    .subtitle {
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-family: "BaiJamjuree Medium", sans-serif;
        margin: 35px 0;
    }

    .btn-yellow {
        padding: 20px 40px;
    }
}

@media (max-width: 1024px) {
    .sale-block {
        .sale-info {
            padding: 20px;
        }
    
        .title {
            font-size: 2.4rem;
            line-height: 3rem;
        }
    
        .desc {
            font-size: 1.6rem;
        }
    }
    
    .countdown {
        padding: 10px 12px;
    
        > div {
            padding: 0 6px;

            &:after {
                top: -5px;
            }
        }
    
        strong {
            font-size: 1.8rem;
            line-height: 1.8rem;
        }
    }

    /* ***** -- modal product ***** */
    .modal-product {
        box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.21);

        .info {
            padding: 60px 30px;
            min-height: 400px; 
        }
    
        .title {
            font-size: 3rem;
            line-height: 3.8rem;
        }
    
        .subtitle {
            font-size: 1.6rem;
            line-height: 2.3rem;
            margin: 25px 0;
        }
    
        .btn-yellow {
            padding: 15px 40px;
        }
    }

}

@media (max-width: 700px) {
    /* ***** -- modal product ***** */
    .modal-product {
        .image {
            width: 100%;
            height: 90vw;
        }
    
        .info {
            width: 100%;
            padding: 30px 20px;
            min-height: auto; 
        }
    }
}

@media (max-width: 575px) {
    /* ***** -- modal product ***** */
    .modal-product {
        .info {
            padding: 20px;
        }

        .title {
            font-size: 2.4rem;
            line-height: 3.2rem;
        }
    }
}