.static-page {
    background: #fff;

    .breadcrumb {
        margin: 0 0 30px 0;
    }

    .editor-body {
        font-size: 1.7rem;
        line-height: 2.7rem;
        font-family: "BaiJamjuree Regular", sans-serif;

        p {
            margin: 0 0 30px 0;
        }

        strong {
            display: block;
            font-family: "BaiJamjuree Regular", sans-serif;
            margin: 0 0 30px 0;
        }
    }

    .white-panel {
        height: 100%;
        padding: 40px;
        margin: 30px 0 0 0;
        border: 1px solid #d8d8d8;

        .panel-title {
            font-size: 3rem;
            text-transform: none;

            &.secondary {
                font-size: 1.7rem;
                text-transform: uppercase;
            }
        }

        .panel-info-text {
            max-width: 850px;
        }

        li {
            display: block;
            margin: 0 0 5px 0;
        }
    }

    .delivery-option {
        margin: 10px 0 10px 0;
    }
}

.page-title {
    font-size: 4rem;
    font-family: "BaiJamjuree Bold", sans-serif;
    margin: 0 0 30px 0;
}

.page-desc {
    font-size: 2rem;
    line-height: 2.7rem;
    font-family: "BaiJamjuree Medium", sans-serif;
    margin: 0 0 50px 0;
}

.contact-form {
    margin: 70px 0 0 0;
    max-width: 650px;

    .block-title {
        margin: 0 0 30px 0;
    }

    .info-text {
        opacity: 1;
    }

    textarea.form-control {
        height: 210px;
        resize: none;
        padding: 12px 18px;
    }

    button {
        height: 60px;
        padding: 10px 55px;
        margin: 40px 0 0 0;
    }
}

@media (max-width: 991px) {
    .static-page {    
        .breadcrumb {
            margin: 0 0 10px 0;
        }

        .editor-body {
            font-size: 1.6rem;
            line-height: 2.6rem;
    
            p {
                margin: 0 0 15px 0;
            }

            strong {
                margin: 0 0 15px 0;
            }
        }

        .white-panel {
            padding: 30px;

            .panel-title {
                font-size: 2.6rem;
            }
        }
    }

    .page-title {
        font-size: 3.2rem;
    }

    .page-desc {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin: 0 0 40px 0;
    }
}

@media (max-width: 575px) {
    .static-page {
        .white-panel {
            .panel-title {
                font-size: 2rem;
            }
        }
    }

    .page-title {
        font-size: 3rem;
    }

    .contact-form {
        margin: 50px 0 0 0;
    
        button {
            height: 52px;
        }
    }
}